<table class="table">
	<tr><th>Sender </th>
		<th>Message Type</th>
		<th>Message</th>
		<th>Date</th>
		<th> </th>
	</tr>
	
	  <%if @inbox.count > 0 %>
		<% @inbox.each do |message| %>
		      <% if message.messagetype ==0 %>
			    <tr>
				 <td> <%=message.sender_id%></td>
				 <td><% if message.messagetype ==1 %> 
					 Sell Request 
				 <% elsif message.messagetype ==0 %>
				     Buy Request 
				     <% else %>
				     ADMIN
				     <% end %>
				  </td>
				  <td><%=link_to("show",p2p_message_path(message), :remote => true)%></td>
				  <td> <%= message.created_at.strftime("%d-%b-%Y %H:%M") %></td>
				  <td> delete</td>
				 </tr>
				 <%else%>
				 <tr><td colspan=4>WoHooo you read all Messages</td></tr>
				<% end %>
		<% end %>
	  <% else %>
		<tr><td colspan=4>WoHooo you read all Messages</td></tr>
	  <% end %>

</table>
