


<table class="table table-bordered table-striped table-hover" tbl="<%=table_name%>" id="<%=table_name%>_id" >
	<thead>
		<tr>
			<th><input type="checkbox" class="master_check"  tbl="<%=table_name%>"></th>
			<th>Sender </th>
			<th>Message</th>
			<th>Time</th>
			<th>Message Type</th>			
		</tr>
	</thead>

	<tbody>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
	</tbody>
		
</table>
