
var data = <%=raw @message.to_json()%>;

data['messagetype'] = "<%= @message.message_type %>" ;

var html = "<div id='view_message_content'> <h3> <%= @message.sender.user.name %> about # </h3>";

html+="<p> <i> On: <%= @message.created_at.strftime('%d-%m-%C%y').html_safe %>  </i> </p> ";
html+="<p id='message_content'>" + data.message + "</p>";

html +='</div>';


$("#show_msg").html(html);
$(".tab-content").hide();
$("#show_msg").show();
$(".tabbable").live("click", function(){ 
    $("#show_msg").hide(); 
	$(".tab-content").show();
 });