
var data = <%=raw @message.to_json()%>;

data['messagetype'] = "<%= @message.message_type %>" ;

var html = "<h3>" + "<a href='/p2p/view/" + <%=  @message.item_id %> + " > Empty </a> </h3>";

html+="<p>"+data.message+"</p>";

$("#show_msg").html(html);
$(".tab-content").hide();
$("#show_msg").show();
$(".tabbable").live("click", function(){ 
    $("#show_msg").hide(); 
	$(".tab-content").show();
 });