
	<div id="about_us_page" class="static_page" title=<%= @aboutus.page_title %>  class="sub">
		<div id="about_us_content" class="static_page_content"> <%= raw @aboutus.page_content %></div>	  
	</div>
