
	<div id="colleges_page" class="static_page" title=<%= @colleges.page_title %>  class="sub">
		<div id="colleges_content" class="static_page_content"> <%= raw @colleges.page_content %></div>	  
	</div>
