
	<div id="privacy_policy_page" class="static_page" title=<%= @privacy_policy.page_title %>  class="sub">
		<div id="privacy_policy_content" class="static_page_content"> <%= raw @privacy_policy.page_content %></div>	  
	</div>
