<h3><%= @page.page_title %></h3>
	<div id="about_us_page" class="static_page" title=<%= @page.page_title %>  class="sub">
		<div id="about_us_content" class="static_page_content"> <%= raw @page.page_content %></div>	  
	</div>
