
	<div id="terms_of_use_page" class="static_page" title=<%= @termsofuse.page_title %>  class="sub">
		<div id="terms_of_use_content" class="static_page_content"> <%= raw @termsofuse.page_content %></div>	  
	</div>
