
	#cart{
		max-height: 380px;
		overflow: auto;

		.cart_single{
			width: 90%;
			margin: 20px auto;
			border-bottom: 1px solid #EEE;
			padding: 0px 20px 20px 20px;

			.cart_image, .cart_name, .cart_isbn, .cart_price, .cart_delete{
				float:left;
				word-wrap: break-word;
			}
			.cart_image{
				width: 80px;

				img{
					padding: 5px;
					border: 1px solid #DDD;
				}
			}
			.cart_name{
				width: 165px;
				margin: 5px 0px 0px 30px;
				color: #CC4D5C;

				.cart_name_name{

				}
				.cart_name_author{
					font-size: 12px;
					color: #999;
				}
			}
			.cart_isbn {
				width: 160px;
				margin: 5px 0px 0px 20px;
			}
			.cart_price {
				width: 90px;
				margin: 5px 0px 0px 20px;
			}
			.cart_delete{
				background-image: url("/assets/remove.png");
				width: 20px;
				background-repeat: no-repeat;
				background-position: 0px 6px;
				height: 40px;
				cursor: pointer;
			}

		}
	}

	#cart_header{
		width: 90%;
		margin: 0px auto;
		border-bottom: 2px #EEE solid;
		padding-bottom: 10px;

		div{
			display: inline-block;
		}
		#cart_header_book {
			width: 290px;
		}
		#cart_header_isbn {
			width: 172px;
		}
		#cart_header_rental_amount, #cart_header_rental_deposit {
			width: 107px;
		}

	}

	#cart_deposit_total , #cart_refundable_amount, #cart_total, #shipping_charge{
		text-align: right;
		padding-right: 30px;
		color: #CC4D5C;
		float: right;

		span{
			width: 100px;
		}
	}

	#shipping_charge{
		margin-top: 10px;
	}

	#cart_rental_total{
		margin-top: 20px;
		text-align: right;
		padding-right: 30px;
		color: #CC4D5C;
		float: right;
		width: 40%;	
	}
