    <div class="actions pull-left">

        <a href="/p2p/mystore/sold" class="btn span2  pull-left">  Sold Items </a> 
        <a href="/p2p/approve" class="btn span2  alert-success pull-left">  Approved Items </a>
        <a href="/p2p/disapprove" class="btn span2  alert-error pull-left">  Disapproved Items </a>
        <a href="/p2p/waiting" class="btn span2  alert-info pull-left">  Waiting for approval </a>


  </div>


<br/><br/>