<%= stylesheet_link_tag "items/items_manifest"%>
<div class="main_wrapper">
	<div class="row">
		<div class="span6">
			<ul class="breadcrumb">
			  <li><a href="#">Home</a> <span class="divider">/</span></li>
			  <li><a href="#">Library</a> <span class="divider">/</span></li>
			  <li class="active">Data</li>
			</ul>
		</div>
		<div class="span6">
			<!-- Buyer View -->
		 <!-- 	<div class="btn-group" id="listing_action">
		 		<button class="btn">Contact Seller</button>
		 		<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Buy Now <span class="caret"></span></button>
  			<ul class="dropdown-menu">
          <li><a href="#">Through Sociorent</a></li>
          <li><a href="#">Directly offline</a></li>
        </ul> 
      </div> -->
			  
			  <!-- Seller View -->
			<div class="btn-group" id="listing_action">
			  <button class="btn">Mark as sold</button>
			  <button class="btn"><i  title="Remove Listing" class="action_icon icon-remove"></i></button>
			  <button class="btn" id="enable"><i title="Edit Listing" class="action_icon icon-pencil"></i></button>
        <button class="btn"><i title="View Messages" class="action_icon icon-envelope"></i> 5</button>
      </div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span4">
			<ul class="thumbnails">
			  <li class="span4">
          <div class="thumbnail">
          	<div id="upload_pic" title="Upload more photos" class="pull-right action_icon"><i class="icon-upload"></i>Upload</div>
            <img src="/assets/p2p/items/holder320x320.png" alt="Item pic">
            <div class="caption thumb_holder">
              <ul class="thumbnails">
              	<li class="thumbs">
              		<i class="icon-remove pull-right"></i>
              		<img src="/assets/p2p/items/holder50x50.png" alt="">
              	</li>
              	<li class="thumbs">
              		<i class="icon-remove pull-right"></i>
              		<img src="/assets/p2p/items/holder50x50.png" alt="">
              	</li>
              	<li class="thumbs">
              		<i class="icon-remove pull-right"></i>
              		<img src="/assets/p2p/items/holder50x50.png" alt="">
              	</li>
              	<li class="thumbs">
              		<i class="icon-remove pull-right"></i>
              		<img src="/assets/p2p/items/holder50x50.png" alt="">
              	</li>
              </ul>
            </div>
          </div>
        </li>
			</ul>
		</div>
		<div class="span8">
			<table class="table table-bordered table-striped">
            <colgroup>
              <col class="span1">
              <col class="span7">
            </colgroup>
            <thead>
              <tr>
                <th>Specification</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  Condition
                </td>
                <td>
                 <span class="canEdit" data-name="username"  title="Enter Condition">Sample</span>
                </td>
              </tr>
              <tr>
                <td>
                  Condition
                </td>
                <td>
                  Wrapping element for displaying data in a tabular format
                </td>
              </tr>
              <tr>
                <td>
                  Condition
                </td>
                <td>
                  Wrapping element for displaying data in a tabular format
                </td>
              </tr>
              <tr>
                <td>
                  Condition
                </td>
                <td>
                  Wrapping element for displaying data in a tabular format
                </td>
              </tr>
              <tr>
                <td>
                  Condition
                </td>
                <td>
                  Wrapping element for displaying data in a tabular format
                </td>
              </tr>
              <tr>
                <td>
                  Condition
                </td>
                <td>
                  Wrapping element for displaying data in a tabular format
                </td>
              </tr>
              <tr>
                <td>
                  Condition
                </td>
                <td>
                  Wrapping element for displaying data in a tabular format
                </td>
              </tr>
              <tr>
                <td>
                  Condition
                </td>
                <td>
                  Wrapping element for displaying data in a tabular format
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <a href="#more_details">View more</a>
                </td>
              </tr>

            </tbody>
          </table>
		</div>
	</div>
	<div class="row">
		<div id="item_desc" class="span12">
			<h4>Description</h4>
		<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.Cras justo odio, dapibus ac facilisis in, egestas eget quam.Cras justo odio, dapibus ac facilisis in, egestas eget quam.Cras justo odio, dapibus ac facilisis in, egestas eget quam.Cras justo odio, dapibus ac facilisis in, egestas eget quam.Cras justo odio, dapibus ac facilisis in, egestas eget quam.Cras justo odio, dapibus ac facilisis in, egestas eget quam.
		Cras justo odio, dapibus ac facilisis in, egestas eget quam.Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
		</div>
	</div>
	<div class="row">
		<div class="span12" id="more_details">
				<table class="table table-bordered table-striped">
	            <colgroup>
	              <col class="span1">
	              <col class="span7">
	            </colgroup>
	            <thead>
	              <tr>
	                <th>Specification</th>
	                <th>Value</th>
	              </tr>
	            </thead>
	            <tbody>
	              <tr>
	                <td>
	                  Condition
	                </td>
	                <td>
	                 <span class="canEdit" data-name="username"  title="Enter Condition">Sample</span>
	                </td>
	              </tr>
	              <tr>
	                <td>
	                  Condition
	                </td>
	                <td>
	                  Wrapping element for displaying data in a tabular format
	                </td>
	              </tr>
	              <tr>
	                <td>
	                  Condition
	                </td>
	                <td>
	                  Wrapping element for displaying data in a tabular format
	                </td>
	              </tr>
	              <tr>
	                <td>
	                  Condition
	                </td>
	                <td>
	                  Wrapping element for displaying data in a tabular format
	                </td>
	              </tr>
	              <tr>
	                <td>
	                  Condition
	                </td>
	                <td>
	                  Wrapping element for displaying data in a tabular format
	                </td>
	              </tr>
	              <tr>
	                <td>
	                  Condition
	                </td>
	                <td>
	                  Wrapping element for displaying data in a tabular format
	                </td>
	              </tr>
	              <tr>
	                <td>
	                  Condition
	                </td>
	                <td>
	                  Wrapping element for displaying data in a tabular format
	                </td>
	              </tr>
	              <tr>
	                <td>
	                  Condition
	                </td>
	                <td>
	                  Wrapping element for displaying data in a tabular format
	                </td>
	              </tr>
	            </tbody>
	          </table>
			</div>
		</div>
</div>