
	
	<%@attr.each do |attr| %>
		<div class="control-group">
			<%= label_tag attr.name ,attr.name ,:class=>"control-label" %>

			<div class="controls">
			<%= text_field_tag "item[attribute][" + attr.id.to_s + "]" %>
			</div>
		</div>

	<% end %>

	<div class="control-group">
		<div class="controls">
			<%= submit_tag "Sell Item" ,:class=> "btn btn-primary" %>
		</div>

	</div>
