<%= form_tag "/admin/book_apis/get_book_details", class: "form-horizontal" do |f| %>
   <div class="control-group">
		<label class="control-label">ISBN-13 numbers(Seperated by commas) </label>
		<div class="controls">
				<textarea name="isbn"></textarea>
			
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
				<input type="submit" class="btn">
		</div>
	</div>
<% end %>