<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <div>Dear <%= @user.name %>,<br> <%= raw @general.welcome_mail_content %></div>
  </body>
</html>