<!--Partial template for ini=itial stage item view  -->
<%items.each do |p| %>

  <div class="product">
    

    <a href="<%= "/p2p/view/" +  p.id.to_s %>" > 
      <div class="product_img">
       <img src="/assets/nokia1.jpg" alt="Picture coming Soon...." width="100px" height="100px"></img>
      </div>

      <div class="product_title">
        <em><%= p.title  %></em> 
      </div>
            
      <div class="product_tag">
      <em><del>&#2352;</del> <%=p.price %></em> 
      </div>
   
      </a>
      
  </div>
<% end %>
