<!--Partial template for ini=itial stage item view  -->
<%items.each do |p| %>

  <div class="product">
    
      <div class="product_title">
        <em><%= link_to p.title , '/p2p/view/' + p.id.to_s %></em> 
      </div>
      
      <div class="product_img">
       <img src="/assets/nokia1.jpg" alt="Picture coming Soon...." width="100px" height="100px"></img>
      </div>
      
      <div class="product_tag">
      <em><del>&#2352;</del> <%=p.price %></em> 
      </div>
   

  </div>
<% end %>
