<div id="product_menu" class="dropdown">

	<% prod.each do |aprod| %>

		<li class="product_menu">
			<a href="/p2p/<%= aprod.category.name %>/<%= aprod.name %>">
				<%= aprod.name %> <span class="pull-right">(<%= aprod.items.by_location_or_allover(p2p_get_user_location).count %>) </span>
			</a>
		</li>
	<% end %>

	
</div>
