

<div class="search_wrap">
      <h2>What You Wanna Buy ? </h2>
      <%= render "p2p/index/items_menu" %>        
      <div class="searchbar">
          <input type="text" id="search_books_input" name="q"  placeholder="Enter Title, Mobile Name, Book Name" class="left search">
      </div>
</div>


<%= javascript_include_tag "p2p/search"%>