
<% content_for :pagetitle  do %>
    Edit <%= @p2p_product.name %> product -Admin 
<%end %>

<h1>Editing Product</h1>

<%= render 'form' %>

<%= link_to 'Show', @p2p_product %> |
<%= link_to 'Back', p2p_products_path %>
