<div class="menu span2">
        <div id="dashboard_menu" class=" menu">
	        <div class="menu_title">Your Menu</div>
	        <a href="/street" class="menu_element">Peer2Peer Home</a>
	        <a href="/street/dashboard" class="menu_element">Dashboard</a>
	        <a href="/street/messages" class="menu_element">Messages</a>
	        <a href="/street/mystore" class="menu_element">My Unsold Items</a>
	        <a href="/street/mystore/sold" class="menu_element">My Sold Items</a>


    	</div>
</div>