


<div id="browse_sub_cat_menu">

	<div id="filter_holder_title"><i class="icon-caret-down"></i> Browse P2P </div>

		<% P2p::Category.where('category_id is null').each do |cat| %>
			<div class="sub_category level_1">
				<%= link_to "#{cat.name}" , "#{make_category_url(cat)}" %>
			</div>
		<% end %>

</div>
