
<script type="script/template" id="book_details_template">
	
	<div class="book_heading"><%%= name %> <small><i>by</i> <%%= author %></small></div>
	<div class="left">
		
		<div class="book_image">
			<img src="<%%= book_image %>"/>
		</div>	
		<div class="auther_edition">
			<div class="edition"><b><%%= edition %></b></div>
			<div class="author">Author(s): <p><span class="blue author_names"></span></p></div>
			<div class="add_to_wishlist">Add to my Wishlist</div>
		</div>
		<div class="clear"></div>
		
		<!--<div class="socio_rent_rank">
			<div class="socio_rent_rank_left">
				SocioRent Rank
			</div>
			<div class="socio_rent_rank_right">
				<span class="blue"><%%= rank %>%</span>
			</div>
			<div class="clear"></div>
		</div>-->

	</div>
	<div class="right">
		<div class="information information_price">
			<div class="information_left"><b>list price</b></div>
			<div class="information_right"><b>Rs.<%%= price %></b></div>
			<div class="clear"></div>
			<div class="information_left"><b>rent</b></div>
			<div class="information_right"><b>Rs.<%%= Math.ceil((price * publisher.rental)/100) %></b></div>
			<div class="clear"></div>
			<div class="add_to_cart">Add to Cart</div>
		</div>
	</div>
	<div class="right">
		<div class="information">
			<div class="information_left">ISBN10:</div>
			<div class="information_right"><%%= isbn10 %></div>
			<div class="clear"></div>
			<div class="information_left">ISBN13:</div>
			<div class="information_right"><%%= isbn13 %></div>
			<div class="clear"></div>
			<div class="information_left">binding:</div>
			<div class="information_right"><%%= binding %></div>
			<div class="clear"></div>
			<div class="information_left">publisher:</div>
			<div class="information_right"><%%= publisher.name %></div>
			<div class="clear"></div>
			<div class="information_left">published:</div>
			<div class="information_right"><%%= published %></div>
			<div class="clear"></div>
			<div class="information_left">pages</div>
			<div class="information_right"><%%= pages %></div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="clear"></div>
	<div class="text"> 
		<div class="text_left">Description</div>
		<div class="text_right"><%%= description || "--" %></div>
		<div class="clear"></div>
	</div>
	<!--<div class="text"> 
		<div class="text_left">Strengths</div>
		<div class="text_right"><%%= strengths || "--" %></div>
		<div class="clear"></div>
	</div>
	<div class="text"> 
		<div class="text_left">Weaknesses</div>
		<div class="text_right"><%%= weaknesses || "--" %></div>
		<div class="clear"></div>
	</div>-->

	<div class="reviews_box">
		<div class="reviews_caption">
			<div class="reviews_caption_left">User Reviews</div>

			<% if current_user %>			
				<div class="reviews_caption_right">Leave a Review</div>
			<% end %>

			<div class="clear"></div>
		</div>
		<div class="reviews">
			<div class="reviews_content"></div>

			<% if current_user %>
				<form class="reviews_form">
					<input type="text" class="reviews_input" id="review_semester" placeholder="Write your Semester Eg: 1">
					<textarea placeholder="Write a review" id="review_text_content" class="reviews_input"></textarea><br/>
					<button type="submit" class="btn reviews_submit">Submit</button>
				</form>
			<% end %>
		</div>

	</div>
</script>
