<div id="book_details_box">
</div>

<div id="cart_box">
	<div id="cart_caption">Your Cart</div>
	<div id="no_item_in_cart">There are no books in your cart.</div>
	<div id="cart"></div>
	<div id="cart_total">
		Total: Rs.<span></span>
	</div>
	<div id="cart_options">
		<div id="cart_options_left">
			Continue Shopping
		</div>
		<div id="cart_options_right">
			Checkout
		</div>
		<div class="clear"></div>
	</div>
</div>

<div id="checkout_box">
	<div id="checkout_caption">Checkout</div>
	<div id="checkout_cash">
		Pay Cash to our representative in your institute
	</div>
	<div id="checkout_cheque"> 
		Send us a cheque at this address
	</div>
</div>