<div id="book_details_box">
</div>

<div id="cart_box">
	<div id="cart_caption">Your Cart</div>
	<div id="no_item_in_cart">There are no books in your cart.</div>
	<div id="cart_header">
		<div id="cart_header_book">Book</div>
		<div id="cart_header_isbn">ISBN</div>
		<div id="cart_header_rental_amount">Rental Amount</div>
		<div id="cart_header_rental_deposit">Rental Deposit</div>
	</div>
	<div id="cart"></div>
	<div id="cart_rental_total">
		Rental Amount: Rs.<span></span>
	</div>
	<div id="cart_total">
		Rental Deposit: Rs.<span></span>
	</div>
	<div class="clear"></div>
	<div id="cart_options">
		<div id="cart_options_left">
			Continue Shopping
		</div>
		<div id="cart_options_right">
			Checkout
		</div>
		<div class="clear"></div>
	</div>
</div>

<div id="checkout_box">
	<div id="checkout_caption">Checkout</div>
	<div id="checkout_cash" class="create_order">
		Pay Cash to our representative in your institute
	</div>
	<div id="checkout_cheque" class="create_order"> 
		Send us a cheque at this address
	</div>
	<% if @user.ambassador.nil? && !@user.is_admin? %>
		<div id="ambassador">
			<div id="ambassador_caption">Please choose who referred you to our website</div>
			<div id="ambassador_select_box">
				<select id="ambassador_select">
					<option value=0>Choose your Referrer</option>
					<% @user.college.ambassadors.each do |ambassador| %>
						<option value="<%= ambassador.id %>"><%= ambassador.name %></option>
					<% end %>
				</select>
			</div>
		</div>
	<% end %>
</div>

<div id="order_box">
	<div id="order_caption">Order Made</div>
	<div id="order_id">Your order id is <span></span>, use this number when you make payment with cash and cheque for reference.</div>
</div>

<div id="compare_dialog_box">
	<div id="compare_dialog">
		<div id="search_to_compare">
			<div id="search_to_compare_caption">Add book to compare</div>
			<form id="compare_search_form">
			  <input type="text" id="compare_search_input" class="input-medium" placeholder="Search books">
			</form>
			<div id="compare_search_result"></div>
			<div id="compare_search_no_result">No books found.</div>
		</div>
		<div class="clear"></div>
	</div>
</div>

<div id="user_dialog"></div>