<div id="book_details_box">
</div>

<div id="cart_box">
	<div id="cart_caption">Your Cart</div>
	<div id="no_item_in_cart">There are no books in your cart.</div>
	<div id="cart"></div>
	<div id="cart_options">
		<div id="cart_options_left">
			Continue Shopping
		</div>
		<div id="cart_options_right">
			Checkout
		</div>
		<div class="clear"></div>
	</div>
</div>