<script type="script/template" id="search_template">
	<div class="book_left">
		<img src='<%%= image %>'/>
	</div>
	<div class="book_right">
		<div class="name" title="<%%= name %>"><%%= name %></div>
		<div class="author"><i>by</i> - <%%= author %></div>
		<div class="isbn">isbn - <%%= isbn %></div>
		<div class="add_to_cart"><%%= cart_message %></div>
	</div>
	<div class="clear"></div>
</script>