<!-- TODO: fix login -->

<div id="login_box" class="modal hide fade">

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden=true >&times;</button>
		<div id="login_tabs">
			<ul>
				<li>
					<a href="#login_content">
						<h3> Login </h3>
					</a>
				</li>

				<li>
					<a href="#signup_content">
						<h3> Signup </h3>
					</a>
				</li>

				<li>
					<a href="#password_reset_content">
						<h3> Password Reset </h3>
					</a>
				</li>

			</ul>

		</div>

	</div>

	<div class="model-body">

		<div id="login_content">

				<div id="login_box_left_login" class="boxes">
					<div class="login_error_msg"></div><br>
					<%= render :template => "devise/sessions/new" %>

					<div id="login_box_right">
						<a class="fb_big_logi" href="/users/auth/facebook"></a>
					</div>

				</div>
			</div>


		<div id="password_reset_content">		
								<div id="login_box_left_password" class="boxes">
									<%= render :template => "devise/passwords/new" %>
								</div>
		</div>

		<div id="signup_content">
								<div id="login_box_left_signup" class="boxes">
									<%= render :template => "devise/registrations/new" %>
								</div>
		</div>

		
	</div>
	<div class="clear"></div>
</div>





<script type="text/javascript">
$("document").ready(function(){

	var width = $(window).width();

  

  	$("#login_tabs").tabs({event:"mouseover"});

	$(".login_error_msg").html("");

	$("#login_box_left_login form").live("submit",function(){
		if($(this).valid())
		{
			$("#loading_div").fadeIn();
			$.ajax({
	      url: "/users/sign_in",
	      type:"post",
	      data:$("#login_box_left_login form").serialize(),
	      complete: function (jqxhr, txt_status) {
	      	if(jqxhr.status==200){
	      		location.reload();
	      	}
	      	else{
	      		$("#loading_div").fadeOut();
	      			$(".login_error_msg").html(jqxhr.responseText);

	      	}
	      }
	    });
	   }
		return false;

	});

	$(".forgot_password_form").live("submit",function(){
		$("#loading_div").fadeIn();
		$.ajax({
      url: "/users/password",
      type:"post",
      data:$(".forgot_password_form").serialize(),
      complete: function (jqxhr, txt_status) {
      	if(jqxhr.status==200){
      			$(".forgot_error").html("Check the Mail For Password Instructions");
      	}
      	else{
      			$(".forgot_error").html("Error Occured");
      	}

      	$("#loading_div").fadeOut();
      }
    });
    return false;
	})



});
</script>
