
<script type="script/template" id="review_template">
<div class="review_single">
	<div class="review_single_left"><%%= user.name %></div>
	<div class="review_single_right"><%%= content %></div>
	<div class="clear"></div>

</div>
</script>
