<script type="script/template" id="search_template">
	<div class="search_left">
		<img src='<%%= image %>'/>
	</div>
	<div class="search_right">
		<div class="name"><%%= name %></div>
		<div class="price">Rs. <%%= price %></div>
		<div class="add_to_cart">Add to Cart</div>
	</div>
	<div class="clear"></div>
</script>