<script type="script/template" id="search_template">
	<a class="book_left" href="<%%= original_image %>" title="<%%= name %>">
		<img src='<%%= image %>'/>
	</a>
	<div class="book_right">
		<div class="name" title="<%%= name %>"><%%= name %></div>
		<div class="author"><i>by</i> - <%%= author %></div>
		<div class="isbn">isbn - <%%= isbn %></div>
		<div class="add_to_cart"><%%= cart_message %></div>
		<div class="add_to_compare_box">
			<input class="add_to_compare" type="checkbox">
			<label>Compare</label>
			<div class="clear"></div>
		</div>
	</div>
	<div class="clear"></div>
</script>

<script type="script/template" id="book_details_template">
	<div class="book_heading"><%%= name %></div>
	<div class="left">
		
		<div class="book_image">
			<img src="<%%= book_image %>"/>
		</div>	
		<div class="auther_edition">
			<div class="edition"><b>Edition <%%= edition %></b></div>
			<div class="author">Author(s): <p><span class="blue"><%%= author %></span></p></div>
			<div class="add_to_cart">Add to Cart</div>
			<div class="add_to_wishlist">Add to my Wishlist</div>
		</div>
		<div class="clear"></div>
		
		<div class="socio_rent_rank">
			<div class="socio_rent_rank_left">
				SocioRent Rank
			</div>
			<div class="socio_rent_rank_right">
				<span class="blue"><%%= rank %>%</span>
			</div>
			<div class="clear"></div>
		</div>

		<div class="information">
			<div class="information_left">ISBN10:</div>
			<div class="information_right"><%%= isbn10 %></div>
			<div class="information_left">ISBN13:</div>
			<div class="information_right"><%%= isbn13 %></div>
			<div class="information_left">binding:</div>
			<div class="information_right"><%%= binding %></div>
			<div class="information_left">publisher:</div>
			<div class="information_right"><%%= publisher.name %></div>
			<div class="information_left">published:</div>
			<div class="information_right"><%%= published %></div>
			<div class="information_left">Age:</div>
			<div class="information_right timeago" title="<%%= published_date %>"></div>
			<div class="information_left">pages</div>
			<div class="information_right"><%%= pages %></div>
			<div class="information_left">list price</div>
			<div class="information_right">Rs.<%%= price %></div>
			<div class="information_left">rental price</div>
			<div class="information_right">Rs.<%%= (price * publisher.rental)/100 %></div>

			<div class="clear"></div>
		</div>

		<div class="class_adoption_caption">Class Adoption Rate:</div>
		<div class="class_adoption"></div>

	</div>
	<div class="right">
		<div class="text"> 
			<div class="text_left">Description</div>
			<div class="text_right"><%%= description %></div>
			<div class="clear"></div>
		</div>
		<div class="text"> 
			<div class="text_left">Strengths</div>
			<div class="text_right"><%%= strengths %></div>
			<div class="clear"></div>
		</div>
		<div class="text"> 
			<div class="text_left">Weaknesses</div>
			<div class="text_right"><%%= weaknesses %></div>
			<div class="clear"></div>
		</div>

		<div class="reviews_box">
			<div class="reviews_caption">
				<div class="reviews_caption_left">User Reviews</div>
				<div class="reviews_caption_right">Leave a Review</div>
				<div class="clear"></div>
			</div>
			<div class="reviews">
				<div class="reviews_content"></div>
				<form class="reviews_form">
					<textarea placeholder="Write a review" class="reviews_input"></textarea><br/>
					<button type="submit" class="btn reviews_submit">Submit</button>
				</form>
			</div>
		</div>

	</div>
	<div class="clear"></div>
</script>

<script type="script/template" id="cart_template"> 
	<div class="cart_image">
		<img src='<%%= book_image %>'>
	</div>
	<div class="cart_name">
		<div class="cart_name_name"><%%= name %></div>
		<div class="cart_name_author">by <%%= author %></div>
	</div>
	<div class="cart_isbn">
		<%%= isbn10 %>
	</div> 
	<div class="cart_price">
		Rs. <%%= (price * publisher.rental)/100 %>
	</div>
	<div class="cart_price">
		Rs. <%%= price %>
	</div>
	<div class="cart_delete">
	</div>
	<div class="clear"></div>
</script>

<script type="script/template" id="compare_template">
	<img src='<%%= book_image %>'/>
	<div class="remove_from_compare"></div>
	<div class="name" title="<%%= name %>"><%%= name %></div>
	<div class="clear"></div>
</script>

<script type="script/template" id="compare_dialog_template"> 
	<div class="name_remove">
		<div class="book_name"><%%= name %></div>
		<div class="remove_from_compare"></div>
		<div class="clear"></div>
	</div>
	<div class="book_image">
		<img src="<%%= book_image %>"/>
	</div>	
	<div class="auther_edition">
		<div class="edition"><b>Edition <%%= edition %></b></div>
		<div class="author">Author(s): <p><span class="blue"><%%= author %></span></p></div>
	</div>
	<div class="clear"></div>
	
	<div class="socio_rent_rank">
		<div class="socio_rent_rank_left">
			SocioRent Rank
		</div>
		<div class="socio_rent_rank_right">
			<span class="blue"><%%= rank %>%</span>
		</div>
		<div class="clear"></div>
	</div>

	<div class="information">
		<div class="information_left">ISBN10:</div>
		<div class="information_right"><%%= isbn10 %></div>
		<div class="information_left">ISBN13:</div>
		<div class="information_right"><%%= isbn13 %></div>
		<div class="information_left">binding:</div>
		<div class="information_right"><%%= binding %></div>
		<div class="information_left">publisher:</div>
		<div class="information_right"><%%= publisher %></div>
		<div class="information_left">published:</div>
		<div class="information_right"><%%= published %></div>
		<div class="information_left">pages</div>
		<div class="information_right"><%%= pages %></div>
		<div class="information_left">list price</div>
		<div class="information_right">Rs.<%%= price %></div>

		<div class="clear"></div>
	</div>
</script>


<script type="script/template" id="user_dialog_template">
	<div id="user_dialog_left">
		<div class="menu active" href="#profile">Edit Profile</div>
		<div class="menu" href="#orders_box" id="profile_orders_button">Orders</div>
		<div class="menu" href="#wishlist_box" id="profile_wishlist_button">Wishlist</div>
	</div>
	<div id="user_dialog_right">
		<div id="profile" class="menu_content">

			<form class="form-horizontal" id="profile_form">
				<legend>Update your Profile</legend>
			  <div class="control-group">
			    <label class="control-label" for="profile_name">Name</label>
			    <div class="controls">
			      <input type="text" id="profile_name" name="name" value="<%%= name %>" placeholder="Name">
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="profile_mobile_number">mobile_number</label>
			    <div class="controls">
			      <input type="text" id="profile_mobile_number" name="mobile_number" value="<%%= mobile_number %>" placeholder="mobile_number">
			    </div>
			  </div>
			  <div class="control-group">
			    <div class="controls">
			      <button type="submit" class="btn">Update Profile</button>
			    </div>
			  </div>
			  <div id="profile_form_error"></div>
			</form>

		</div>
		<div id="orders_box" class="menu_content">
			<div id="orders_caption">Your Orders</div>
			<div id="orders"></div>
		</div>
		<div id="wishlist_box" class="menu_content">
			<div id="wishlist_caption">Your Wishlist</div>
			<div id="wishlist"></div>
		</div>
	</div>
	<div class="clear"></div>
</script>

<script type="script/template" id="order_template">
	<div class="order_heading">
		<div class="order_heading_left">Order No : <%%= random %></div>
		<div class="order_heading_right"><%%= created_at %></div>
		<div class="clear"></div>
	</div>
	<div class="order_books"></div>
	<div class="rental_total">Rental Amount: <%%= rental_total %></div>
	<div class="total">Rental Deposit (refundable): <%%= total %></div>
	<div class="clear"></div>
</script>

<script type="script/template" id="order_book_template">
	<div class="order_book_left"><%%= name %> <span>by <%%= author %></span></div>
	<div class="order_book_right">Rs.<%%= price %></div>
	<div class="clear"></div>
</script>

<script type="script/template" id="wishlist_template">
	<div class="wishlist_left">
		<img src="<%%= book_image %>"/>
	</div>
	<div class="wishlist_right">
		<div class="wishlist_name"><%%= name %></div>
		<div class="wishlist_author">by <%%= author %></div>
		<div class="wishlist_price">Rs.<%%= price %></div>
		<div class="add_to_cart"><%%= cart_message %></div>
		<div class="remove_from_wishlist">remove from wishlist</div>
	</div>
	<div class="clear"></div>
</script>

<script type="script/template" id="class_adoption_template">
	<div class="class_adoption_college"><%%= college.name %></div>
	<div class="class_adoption_rate"><%%= rate %></div>
	<div class="clear"></div>
	<div class="progress progress-striped">
  	<div class="bar" style="width: <%%= percent %>%;"></div>
	</div>
</script>

<script type="script/template" id="review_template">
	<div class="review_single_left"><%%= user.name %></div>
	<div class="review_single_right"><%%= content %></div>
	<div class="clear"></div>
</script>

<script type="script/template" id="compare_search_template">
	<%%= name %>
</script>