<% states=["Andhra Pradesh","Arunachal Pradesh","Assam","Bihar","Chandigarh","Chhattisgarh","Daman and Diu","Delhi","Goa","Gujarat","Haryana","Himachal Pradesh","Jammu and Kashmir","Jharkhand","Karnataka","Kerala","Madhya Pradesh","Maharashtra","Manipur","Meghalaya","Mizoram","Nagaland","Orissa","Pondicherry","Punjab","Rajasthan","Sikkim","Tamil Nadu","Tripura","Uttar Pradesh","Uttarakhand","West Bengal","Dadra and Nagar Haveli","Andaman and Nicobar Islands"]%>

<script type="script/template" id="search_template">
	<div class="book_left">
		<%% image = image.replace('book','original'); %>
		<img src='<%%= image %>'/>
	</div>
	<div class="book_right">
		<div class="name" title="<%%= name %>"><%%= name %></div>
		<div class="author"><span>by</span> <%%= author %></div>
		<div class="mrp">MRP: Rs.<%%= mrp %></div>
		<div class="rent_price">Rent @ Rs.<%%= rent_price %></div>
		<div class="already_rented"><%%= rented_message %></div>
		<div class="add_to_cart"><%%= cart_message %></div>
	</div>
	<div class="clear"></div>
</script>

<script type="script/template" id="book_details_template">
	<div class="book_heading"><%%= name %> <small><i>by</i> <%%= author %></small></div>
	<div class="left">
		
		<div class="book_image">
			<img src="<%%= book_image %>"/>
		</div>	
		<div class="auther_edition">
			<div class="edition"><b><%%= edition %></b></div>
			<div class="author">Author(s): <p><span class="blue author_names"></span></p></div>
			<div class="add_to_wishlist">Add to my Wishlist</div>
		</div>
		<div class="clear"></div>
		
		<!--<div class="socio_rent_rank">
			<div class="socio_rent_rank_left">
				SocioRent Rank
			</div>
			<div class="socio_rent_rank_right">
				<span class="blue"><%%= rank %>%</span>
			</div>
			<div class="clear"></div>
		</div>-->

		<!--<div class="class_adoption_caption">Class Adoption Rate: (rented <span></span> times)</div>
		<div class="class_adoption"></div>-->

	</div>
	<div class="right">
		<div class="information information_price">
			<div class="information_left"><b>list price</b></div>
			<div class="information_right"><b>Rs.<%%= price %></b></div>
			<div class="clear"></div>
			<div class="information_left"><b>rent</b></div>
			<div class="information_right"><b>Rs.<%%= ((price * publisher.rental)/100).toFixed(0) %></b></div>
			<div class="clear"></div>
			<div class="add_to_cart">Add to Cart</div>
		</div>
	</div>
	<div class="right">
		<div class="information">
			<div class="information_left">ISBN10:</div>
			<div class="information_right"><%%= isbn10 %></div>
			<div class="clear"></div>
			<div class="information_left">ISBN13:</div>
			<div class="information_right"><%%= isbn13 %></div>
			<div class="clear"></div>
			<div class="information_left">binding:</div>
			<div class="information_right"><%%= binding %></div>
			<div class="clear"></div>
			<div class="information_left">publisher:</div>
			<div class="information_right"><%%= publisher.name %></div>
			<div class="clear"></div>
			<div class="information_left">published:</div>
			<div class="information_right"><%%= published %></div>
			<div class="clear"></div>
			<div class="information_left">pages</div>
			<div class="information_right"><%%= pages %></div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="clear"></div>
	<div class="text"> 
		<div class="text_left">Description</div>
		<div class="text_right"><%%= description || "--" %></div>
		<div class="clear"></div>
	</div>
	<!--<div class="text"> 
		<div class="text_left">Strengths</div>
		<div class="text_right"><%%= strengths || "--" %></div>
		<div class="clear"></div>
	</div>
	<div class="text"> 
		<div class="text_left">Weaknesses</div>
		<div class="text_right"><%%= weaknesses || "--" %></div>
		<div class="clear"></div>
	</div>-->

	<div class="reviews_box">
		<div class="reviews_caption">
			<div class="reviews_caption_left">User Reviews</div>
			<div class="reviews_caption_right">Leave a Review</div>
			<div class="clear"></div>
		</div>
		<div class="reviews">
			<div class="reviews_content"></div>
			<form class="reviews_form">
				<textarea placeholder="Write a review" class="reviews_input"></textarea><br/>
				<button type="submit" class="btn reviews_submit">Submit</button>
			</form>
		</div>
	</div>
</script>

<script type="script/template" id="cart_template"> 
	<div class="cart_image">
		<img src='<%%= book_image %>'>
	</div>
	<div class="cart_name">
		<div class="cart_name_name"><%%= name %></div>
		<div class="cart_name_author">by <%%= author %></div>
	</div>
	<div class="cart_isbn">
		<%%= isbn10 %>
	</div> 
	<div class="cart_price">
		Rs. <%%= ((price * publisher.rental)/100).toFixed(0) %>
	</div>
	<div class="cart_price">
		Rs. <%%= price %>
	</div>
	<div class="cart_delete">
	</div>
	<div class="clear"></div>
</script>

<script type="script/template" id="compare_template">
	<img src='<%%= book_image %>'/>
	<div class="remove_from_compare"></div>
	<div class="name" title="<%%= name %>"><%%= name %></div>
	<div class="clear"></div>
</script>

<script type="script/template" id="compare_dialog_template"> 
	<div class="name_remove">
		<div class="book_name"><%%= name %></div>
		<div class="remove_from_compare"></div>
		<div class="clear"></div>
	</div>
	<div class="book_image">
		<img src="<%%= book_image %>"/>
	</div>	
	<div class="auther_edition">
		<div class="edition"><b><%%= edition %></b></div>
		<div class="author">Author(s): <p><span class="blue"><%%= author %></span></p></div>
	</div>
	<div class="clear"></div>

	<div class="information">
		<div class="information_left">ISBN10:</div>
		<div class="information_right"><%%= isbn10 %></div>
		<div class="information_left">ISBN13:</div>
		<div class="information_right"><%%= isbn13 %></div>
		<div class="information_left">binding:</div>
		<div class="information_right"><%%= binding %></div>
		<div class="information_left">publisher:</div>
		<div class="information_right"><%%= publisher.name %></div>
		<div class="information_left">published:</div>
		<div class="information_right"><%%= published %></div>
		<div class="information_left">pages</div>
		<div class="information_right"><%%= pages %></div>
		<div class="information_left"><b>list price</b></div>
		<div class="information_right"><b>Rs.<%%= price %></b></div>
		<div class="clear"></div>
	</div>
</script>


<script type="script/template" id="user_dialog_template">
	<div id="user_dialog_left">
		<div class="menu active" href="#profile" id="profile_edit_button">Edit Profile</div>
		<div class="menu" href="#orders_box" id="profile_orders_button">Orders</div>
		<div class="menu" href="#wishlist_box" id="profile_wishlist_button">Wishlist</div>
		<div class="menu" href="#shipping_box" id="profile_shipping_button">Shipping Address</div>
	</div>
	<div id="user_dialog_right">
		<div id="profile" class="menu_content">

			<form class="form-horizontal" id="profile_form">
				<legend>Update your Profile</legend>
			  <div class="control-group">
			    <label class="control-label" for="profile_name">Name</label>
			    <div class="controls">
			      <input type="text" id="profile_name" name="name" value="<%%= name %>" placeholder="Name">
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="profile_mobile_number">Phone number</label>
			    <div class="controls">
			      <input type="text" id="profile_mobile_number" name="mobile_number" value="<%%= mobile_number %>" placeholder="mobile_number">
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="profile_college"  placeholder="Enter College Name">College</label>
			    <div class="controls">
			    	<input type="text" id="profile_college" value="<%%= college.name %>" name="college" autocomplete="off">
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="profile_course">Course</label>
			    <div class="controls">
			    	<input type="text" id="profile_streams" name="stream" autocomplete="off"  placeholder="Enter Stream" value="<%%= stream.name %>">
			    </div>
			  </div>
			  <div class="control-group">
			    <div class="controls">
			      <button type="submit" class="btn">Update Profile</button>
			    </div>
			  </div>
			  <div id="profile_form_error"></div>
			</form>

		</div>
		<div id="orders_box" class="menu_content">
			<div id="orders_caption">Your Orders</div>
			<div id="orders"></div>
			<div id="orders_amount">
				<div id="all_orders_deposit_total">Total Deposit Amount: Rs.<span></span></div>
				<div id="all_orders_rental_total">Total Rental Amount : Rs.<span></span></div>
			</div>
		</div>
		<div id="wishlist_box" class="menu_content">
			<div id="wishlist_caption">Your Wishlist</div>
			<div id="wishlist"></div>
		</div>
		<div id="shipping_box" class="menu_content">
			<form class="form-horizontal shipping_form" id="profile_shipping_form">
				<legend>Shipping Address</legend>
			  <div class="control-group">
			    <label class="control-label" for="address_street_name1">Street1</label>
			    <div class="controls">
			      <input type="text" id="address_street_name1" name="address_street_name1" value="<%%= address.address_street_name1 || '' %>"  placeholder="Street1">
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="street_name2">Street2</label>
			    <div class="controls">
			      <input type="text" id="address_street_name2" name="address_street_name2" value="<%%= address.address_street_name2 || '' %>" placeholder="Street2">
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="address_street_name1">City</label>
			    <div class="controls">
			      <input type="text" id="address_city" name="address_city" value="<%%= address.address_city || '' %>" placeholder="City">
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="address_state">State</label>
			    <div class="controls">
			     	<select id="profile_address_state" name="address_state">
			     	<% states.each do |state|%>
			     	 		<option value="<%=state%>" ><%=state%></option>
			     	<% end %>
			     	</select>
	   			</div>
			   </div>
			  <div class="control-group">
			    <label class="control-label" for="address_pincode">Pincode</label>
			    <div class="controls">
			      <input type="text" maxlength="6" id="address_pincode" name="address_pincode" value="<%%= address.address_pincode || '' %>" placeholder="Pincode">
			    </div>
			  </div>
			  <div class="control-group">
			    <div class="controls">
			      <button id="profile_update_shipping" type="submit" class="btn">Update Shipping</button>
			    </div>
			  </div>
			  <div id="shipping_form_error"></div>
			  <div id="profile_shipping_form_error"></div>
			</form>
		</div>
	</div>
	<div class="clear"></div>
</script>

<script type="script/template" id="order_template">
	<div class="order_heading">
		<div class="order_heading_left">Order No : <%%= random %></div>
		<div class="order_heading_right"><%%= created_at %></div>
		<div class="clear"></div>
	</div>
	<div class="order_books"></div>
	<div class="rental_total">Rental Amount: Rs.<%%= rental_total %></div>
	<div class="deposit_total">Security Deposit: Rs.<%%= deposit_total %></div>
	<div class="clear"></div>
	<div class="rental_total">Refundable amount: Rs.<%%= deposit_total - rental_total %></div>
	<div class="clear"></div>
	<div class="total">Total: Rs.<%%= total %> <i>(Shipping Charge Rs.50 if Rental deposit less than Rs.1000)</i></div>
	<div class="invoice_btn"><a class="btn" target="_blank" href="/print_invoice/<%%= random %>">Print Invoice</a></div>
</script>

<script type="script/template" id="order_book_template">
	<div class="order_book_left"><%%= model.name %> <span>by <%%= model.author %></span></div>
	<div class="order_book_shipping <%%= shipped_class %>"><%%= shipped_button_text %></div>
	<div class="order_book_right">Rs.<%%= model.price %></div>
	<div class="clear"></div>
	<div class="order_book_shipping_details">
		<div class="order_book_courier_name">Courier: <%%= model.courier_name %></div>
		<div class="order_book_tracking_number">Tracking #: <%%= model.tracking_number %></div>
	</div>
</script>

<script type="script/template" id="wishlist_template">
	<div class="wishlist_left">
		<img src="<%%= book_image %>"/>
	</div>
	<div class="wishlist_right">
		<div class="wishlist_name"><%%= name %></div>
		<div class="wishlist_author">by <%%= author %></div>
		<div class="wishlist_price">Rs.<%%= price %></div>
		<div class="add_to_cart"><%%= cart_message %></div>
		<div class="remove_from_wishlist">remove from wishlist</div>
	</div>
	<div class="clear"></div>
</script>

<script type="script/template" id="class_adoption_template">
	<div class="class_adoption_college"><%%= college.name %></div>
	<div class="class_adoption_rate"><%%= rate %></div>
	<div class="clear"></div>
	<div class="progress progress-striped">
  	<div class="bar" style="width: <%%= percent %>%;"></div>
	</div>
</script>

<script type="script/template" id="review_template">
	<div class="review_single_left"><%%= user.name %></div>
	<div class="review_single_right"><%%= content %></div>
	<div class="clear"></div>
</script>

<script type="script/template" id="compare_search_template">
	<%%= name %>
</script>