<html>
	<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# sociorent: http://ogp.me/ns/fb/sociorent#">
	  <meta property="fb:app_id" content="212611612202812" /> 
	  <meta property="og:type"   content="sociorent:book" /> 
	  <meta property="og:url"    content="http://www.sociorent.in:3000/" /> 
	  <meta property="og:title"  content="<%= @book.name %>" /> 
	  <meta property="og:image"  content="<%= @book_image %>" />
	</head>
	<body>
		<div><%= @book.name %></div>
	</body>
</html>