<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# sociodevelopment: http://ogp.me/ns/fb/sociodevelopment#">
  <meta property="fb:app_id" content="424914297573197" /> 
  <meta property="og:type"   content="sociodevelopment:book" /> 
  <meta property="og:url"    content="http://www.sociorent.in/" /> 
  <meta property="og:title"  content="<%= @book.name %>" /> 
  <meta property="og:image"  content="<%= @book_image %>" /> 

  <div><%= @book.name %></div>