<%= stylesheet_link_tag "index/application" %>
<%= javascript_include_tag "index/index" %>

<div class="video_content wrapper">
	<div class="grid_3_5">
		<h1>Why buy Engineering text books, when you can rent at 80% Off?</h1>
		<h2 class="green"><b>Save loads of money. Feel Great. Be Smart.</b></h2>
		<span>Join the fastest growing network of smart students and rent books easily.</span>
		<a class="fb_big_logi" href="/users/auth/facebook"></a>
	</div>
	<div class="grid_2_5">
	</div>
	<div class="cB"></div>
</div>
<div class="content">
	<div class="wrapper">
		<div class="search_wrap">
			<h2>Rent your books and Save thousands of Rupees</h2>
			<div class="searchbar">
					<form class="right" method="get" action="/search/" id="search">
						<input type="text" name="q" placeholder="Enter Title, Author Name, ISBN" class="left search" id="search_books_input">
						<input type="submit" value="Search" class="left searchbutton">
						<input type="button" value="X" class="left btn" id="searchClose">
					</form>
			</div>
			<div id="search_books"></div>
		</div>
		<h1>How does it work?</h1>
		<div class="prod_info">
			<div class="grid_1_2">
				<div class="info_icon icon1 left">
					<div></div>
				</div>
				<div class="left info_cont1" style="margin-top: 12px;">
					<h2>Rent all your text books the easiest way. Best prices.</h2>
					<span>No compliment Terms & Conditions.</span>
				</div>
			</div>
			<div class="grid_1_2">
				<div class="info_icon icon2 left">
					<div></div>
				</div>
				<div class="left info_cont2">
					<h2>Get recommendations for the books you would need.</h2>
					<span>Choose among bundles done specially for your college.</span>
				</div>
			</div>
			<div class="grid_1_2">
				<div class="info_icon icon3 left">
					<div></div>
				</div>
				<div class="left info_cont3">
					<h2>Online, Offline, Cash Collection. </h2>
					<span>We have multiple and simple payment options to make things easier.</span>
				</div>
			</div>
			<div class="grid_1_2">
				<div class="info_icon icon4 left">
					<div></div>
				</div>
				<div class="left info_cont4" style="margin-top: 15px;">
					<h2>Free and Fast shipping.</h2>
					<span>Did we say we arrange for a free pick-up once your exams are over?</span>
				</div>
			</div>
			
			<div class="cB"></div>
		</div>
	<div class="werwith">
		<h1>We are with</h1>
		<div class="caro_prev left"></div>
		<ul class="carousal left">
				<li><img src="/assets/col1.jpg"></li>
				<li><img src="/assets/col2.jpg"></li>
				<li><img src="/assets/col3.jpg"></li>
		</ul>
		<div class="caro_next left"></div>
		<div class="cB"></div>
	</div>
	</div>
</div>

<div class="footer">
  <div class="wrapper">
    <div class="right links">
      <div class="grid_1">
        <ul class="left">
          <li>About Us</li>
          <li>Teams</li>
          <li>Careers</li>
          <li>Contact Us</li>
        </ul>
        <ul class="left">
          <li>Product Tour</li>
          <li>Features</li>
          <li>Pricing</li>
          <li>Colleges</li>
        </ul>
      </div>
    </div>
    <div class="foot_box right">
      <ul>
        <li><a href="http://www.facebook.com/sociorent"></a></li>
        <li><a href="http://www.twitter.com/sociorent"></a></li>
        <li><a href="http://www.sociorent.com/blog"></a></li>
      </ul>
    </div>
    <div class="cB"></div>
  </div>
</div>
<div class="footer_cpy">
  <div class="wrapper">
    <span>&copy; Sociorent. All rights reserved.</span>
  </div>
</div>

<div id="book_details"></div>

<div id="login_box">
	<%= render :template => "devise/sessions/new" %>
</div>

<script type="text/javascript">
$("document").ready(function(){
	var width = $(window).width();
	$("#book_details").dialog({
		autoOpen: false,
		draggable: false,
		height: 700,
		width: width-100,
		resizable: false,
		buttons: {
              Ok: function () {
                  $(this).dialog("close");
              }
          },
    modal: true
  });

  $("#login_box").dialog({
		autoOpen: false,
		draggable: false,
		height: 700,
		width: 1000,
		resizable: false,
    modal: true
  });
});
</script>

<%= render :partial => "index_template" %>