<div class="left">
	<div id="video_caption">
		The Joy of Books...
	</div>
	<div id="video">
		<iframe width="560" height="315" src="http://www.youtube.com/embed/SKVcQnyEIT8" frameborder="0" allowfullscreen></iframe>
	</div>
</div>
<div class="right">
	<div id="facebook_caption">
		Connect with us.
	</div>
	<div id="facebook">
		<%= link_to image_tag('/assets/facebook_256.png'), user_omniauth_authorize_path(:facebook) %>

	</div>
</div>
<div class="clear"></div>