        <li class="nav-header">Menu</li>

        <li><a href="/p2p/dashboard"><img src="/assets/p2p/dashboard.png" class="dashboard_menuicon">Dashboard</a></li>
        <li><a href="/p2p/messages"><img src="/assets/p2p/messages.jpg" class="dashboard_menuicon">Messages</a></li>
        <li><a href="/p2p/mystore"><img src="/assets/p2p/home.jpg" class="dashboard_menuicon">My Store</a></li>
        <li><a href="/p2p/favourites"><img src="/assets/p2p/star.png" class="dashboard_menuicon">My Favourites</a></li>
        

        <li class="divider"></li>

		<li class="nav-header">Items</li>
        <li><a href="/p2p/mystore/sold">Sold </a></li>                
        <li><a href="/p2p/approve">Approved </a></li>
        <li><a href="/p2p/disapprove">Disapproved</a></li>
        <li><a href="/p2p/waiting ">Waiting </a></li>

		<li class="divider"></li>


        <% if p2p_current_user.id == 1%>
                <li class="nav-header">Admin</li>
                <li><a href="/p2p/admin/categories">Categories</a></li>
                <li><a href="/p2p/admin/products">Products</a></li>
                <li><a href="/p2p/admin/specs">Specs</a></li>
                <li><a href="/p2p/admin/service_pincodes">Pincodes</a></li>
                
        <% end %>