<div class="menu span2">
        <div id="dashboard_menu" class=" menu">
	        <div class="menu_title">Your Menu</div>
	        <a href="/p2p" class="menu_element">Peer2Peer Home</a>
	        <a href="/p2p/dashboard" class="menu_element">Dashboard</a>
	        <a href="/p2p/messages" class="menu_element">Messages</a>
	        <a href="/p2p/mystore" class="menu_element">My Unsold Items</a>
	        <a href="/p2p/mystore/sold" class="menu_element">My Sold Items</a>

	        
    	</div>
</div>