
<div class="row" id="body_content" >

     <div id="filter" class="span2">

      <ul class="nav nav-list">

        <li class="nav-header">Menu</li>
        <li><a href="/p2p">Home</a></li>
        <% if p2p_current_user.id == 1 %>
        	<li><a href="/p2p/approve">Approve Items</a></li>
        <% end %>
        <li><a href="/p2p/dashboard">Dashboard</a></li>
        <li><a href="/p2p/messages">Messages</a></li>
        <li><a href="/p2p/mystore">My Store</a></li>

        <%= render "/p2p/index/scat_menu" %>

      </ul>
    </div>

	<div class="span10">

		<div class="box span3">
			<div class="box_title"> Sales Stastics </div>

			<ul>
				<li class="box_element">Total Items : 0</li>
				<li class="box_element">Sold Items : 0 </li>
				<li class="box_element">Waiting for Approval: 0</li>
			</ul>
		</div>
	</div>

</div>