

<div class="row" id="body_content" >

     <div id="filter" class="span2">


      <ul class="nav nav-list">


        <li class="nav-header">Menu</li>
        <li><a href="/p2p">Home</a></li>
        <li><a href="/p2p/dashboard">Dashboard</a></li>
        <li><a href="/p2p/messages">Messages</a></li>
        <li><a href="/p2p/mystore">My Store</a></li>

        <%= render "/p2p/index/scat_menu" %>

        <li class="nav-header">OS</li>
        <li class="active"><a href="#">Home <i class="icon-remove"></i></a></li>
        <li><a href="#">Library</a></li>
        <li><a href="#">Applications</a></li>


        <li class="divider"></li>

        <li class="nav-header">Memory</li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Help</a></li>

      </ul>
    </div>


	<div class="span10">

		<div class="box span3">
			<div class="box_title"> Sales Stastics </div>

			<ul>
				<li class="box_element">Total Items : 0</li>
				<li class="box_element">Sold Items : 0 </li>
				<li class="box_element">Waiting for Approval: 0</li>
			</ul>
		</div>
	</div>

</div>