<h1>Listing p2p_service_pincodes</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @p2p_service_pincodes.each do |p2p_service_pincode| %>
  <tr>
    <td><%= link_to 'Show', p2p_service_pincode %></td>
    <td><%= link_to 'Edit', edit_p2p_service_pincode_path(p2p_service_pincode) %></td>
    <td><%= link_to 'Destroy', p2p_service_pincode, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New P2p service pincode', new_p2p_service_pincode_path %>
