
.thumb_holder {
	margin-left: 15px;
}


#listing_action {
	margin-top: 3px;
}

#item_desc {
	display: block;
	margin-bottom: 25px;
	padding: 10px;
	font-size: 13px;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #f5f5f5;
	border: 1px solid rgba(0,0,0,0.15);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	box-sizing: border-box;
}

#upload_pic {
	cursor: pointer;
}

.canEdit {
	color: black;
}
.editable {
	color: blue;
	cursor: pointer;
	border-bottom: dashed 1px #0088cc;
}

.editable-disabled {
	color: black;
	cursor: default;
	border-bottom: none !important;
}

.editable-buttons button {
	margin-left: 10px;
	margin-top: 15px;
}

.editable-input input {
	float: left;
}

textarea{
	resize:none;
}

.editable-container{
	width:auto;
}

#desc_content{
	display: block;
}

iframe{
	width:100% !important;
}