/*
 *= require global/bootstrap-editable
 *= require_tree .
 */

 #fileupload{
 	position:absolute;
 	overflow: hidden;
 	width:70px;
 	cursor: pointer;
 	opacity: 0;
 	display: none;
 }

.error{
	color:red !important;
}


#item_desc{
	min-height: 300px;
	margin-bottom: 30px;
}


#upload_pic{
	width:80px;
	float:right;
	cursor: pointer;
}

.icon-repeat{
	margin-left: 5px;
}