<style>
	#error_holder{
		background: url("/assets/paper.jpg") repeat;
		padding: 2em;
	}

	#image404{
		margin-left: 5em;
		float:left;
		display:block;
	}

	#content_404{
		float:left;
		margin-left: 5em;
	}
	#clearfix{
		clear:both;
	}
</style>

<div id="error_holder" >
	<img src="/assets/pile-of-books.jpg" width='300px' height='500px' id="image404">

	<div id="content_404">
		<h1> Sorry, we could not find that for you. </h1>

		<br/><br/>
		<h3> Try to search at our <a href="/">home page</a> </h3>
	</div>
	<div id="clearfix"> </div>
</div>