
<% content_for :pagetitle  do %>
    Edit <%= @p2p_category.name %> category -Admin 
<%end %>

<h1>Editing Category</h1>

<%= render 'form' %>

<%= link_to 'Show', @p2p_category %> |
<%= link_to 'Back', p2p_categories_path %>
