<% content_for :pagetitle  do %>
	Edit <%= @p2p_category.name %> category -Admin
<%end %>
<div class="row" id="body_content" >
	<div class="span3">
		<ul class="nav nav-list">
		<%= render "/p2p/users/dashboard_menu.html.erb" %>
		<%#= render "/p2p/index/scat_menu" %>
		</ul>
	</div>
	<div class="span9">
		<%= link_to raw('<i class="icon-arrow-left"></i> Back'), p2p_categories_path, class: "pull-right btn" %>
		<h3>Editing Category</h3>
		<%= render 'form' %>
	</div>
</div>