<%= stylesheet_link_tag "footer" %>

<div class="footer">
	<div class="wrapper">
		<div class="pull-right links">
			<div class="grid_1">
				<ul class="pull-left">
					<li><a href="/street/terms_of_use">Terms of Use</a></li>
					<li><a href="/street/seller_policy" >Seller Policy</a></li>
					<li><a href="/street/buyer_policy" >Buyer Policy</a></li>
					
				</ul>
				<ul class="pull-left">
					<li><a href="/street/how_to_sell" >How to sell?</a></li>
					<li><a href="/street/how_to_buy" >How to buy?</a></li>
					<li><a href="/street/buyer_protection" >Buyer Protection</a></li>
				</ul>
				<ul class="pull-left">
					<li><a href="/street/aboutus" >About Us</a></li>
					<li><a href="/street/contactus" >Contact Us</a></li>
					<li><a href="/street/privacy_policy" >Privacy Policy</a></li>
				</ul>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="foot_box pull-left">
			<ul>
				<li><a class="fb" href="http://www.facebook.com/sociorent" target="_blank"></a></li>
				<li><a class="twit" href="http://www.twitter.com/sociorent" target="_blank"></a></li>
				<li><a class="blog" href="http://sociorent.com/blog" target="_blank"></a></li>
			</ul>
		</div>
		<div class="cB"></div>
		<div class="clearfix"></div>
	</div>
</div>


 <div class="footer_cpy">
	<div class="wrapper">
		<span>&copy; Sociorent. All rights reserved.</span>
	</div>
</div>

<div id="book_details" class="font-dialog"></div>
