<%= stylesheet_link_tag 'p2p/header.css.scss'%>

	<!-- header part -->
		<div id="header" class="row">

			<div class="container">
					<div class="span2" id="site_logo"><a href="/p2p"><img src="/assets/p2p.png" alt="Logo" ></a></div>
					<div class="span4">
						<div class="input-append">
							<input id="top_search_input" type="text" class="span4">
							<span class="add-on"><i class="icon-search"></i></span>
						</div>
					</div>
					<div class="span5 pull-right" id="menuSet">

						<% if current_user.nil? %>
							<a class="topMenu pull-right" href="/users/sign_in">Signin</a>
						<% else %>

						<%= link_to "SignOut", destroy_user_session_url, :method => :delete ,:class => "topMenu pull-right" %>

						<a class="topMenu pull-right" href="/p2p/messages">Messages</a>
						<a class="topMenu pull-right" href="/p2p/mystore">My Store</a>
						<a class="topMenu pull-right" href="/p2p/sellitem">List New Item</a>
					    <% end %>
		  		</div>
		  	</div>
		</div>
	<!-- header part ends -->	

<%= javascript_include_tag "p2p/search"%>