<div id="header"> 
	<div id="header_container">

			<div id="top_logo" class="pull-left">
				SocioRent P2P
			</div>

			<div id="top_search_form" class="pull-left">
					<div class="input-append">
						<input type="text" class="span4"  id="appendedInputButton" placeholder="What are you looking for?">
						<button class="btn btn-" type="button"> <i class="icon-search"></i> </button>
					</div>
			</div>

			<div class="pull-right">
				<span class="btn">Login </span>
			</div>

	</div>
	<div class="clearfix"></div>
</div>
