.arrow{
	display: table-cell;
	vertical-align: middle;
	float:left;
	margin-top:8px;
	font-size:0.5em;
	font-weight:bold;
}


#browse_tags{
	background-color:#eee;
	height:30px;
	margin-bottom:5px;
}

#browse_sort{
	height:30px;
}

#browse_left{
	margin-left: 0;
}

#browse_title{
	font-weight:bold;
	font-size:1.8em;
	margin-bottom:10px;

}

#browse_content{
	margin-left:15px;
}