#header {
	margin-top: 20px;
}

#top_search_input {
	height: 25px;
    width: 300px;
}

#top_search_input:focus {
    width: 430px;
}

#top_search_input .add-on{
    z-index:50;
}

.add-on {
	height: 25px !important;
}

.add-on > i{
	margin-top: 5px;
}

.topMenu {
	padding: 5px;
	background-color:#F65757;
	color:white !important;
	border-radius: 2px;
	margin-left:4px;
	font-weight: bold;

}
 ul.submenu li {
 	text-align: left;
 }

