#header {
	margin-top: 10px;
}

#top_search_input {
	height: 25px;
}

.add-on {
	height: 25px !important;
}

.icon-search {
	margin-top: 7px;
}

.topMenu {
	padding: 5px;
	background-color:#F65757;
	color:white !important;
	border-radius: 2px;
	margin-left:4px;
	font-weight: bold;

}

#menuSet {
	text-align: right;
}

