.delete_item{
	background: url("/assets/glyphicons-halflings.png");
	background-position: 1097px 0px;
	display: block;
	width: 14px;
	height: 14px;
	margin-top: 2px;
	display:inline-block;
	opacity: 0.3;
}

.delete_item:hover{
	opacity: 1;
}

.box{
	border: 1px solid #ccc;
	padding:10px;
}

.box > .box_title{
	font-weight: bold;
	text-align: center;
	background: #ccc;
	padding: 2px;
}

.box > ul {
	margin-top: 3px;
}

.approved{
	/*background-color: */
}

.dashboard_count_badge{
	position: absolute;
	left:49.5%;
}