
input{
	border:1px solid #cccccc !important;
	margin:0;
	border:none !important;
	-webkit-appearance: none; 
	outline: 1px solid #cccccc !important;
	display:inline-block;
	width:auto !important;
	height:auto !important;
	padding:5px;
	border-radius:3px;
}

textarea{
	min-height:200px !important;
	min-height:100% !important;
}
.inlineinput{
	display:inline-block;
}


#item_classification span{
	margin-left:5px;
	display: inline-block;
}


#item_specifications input{
	display:inline-block;
	text-align:center;	
}	
#view_item{
	width:70%;
	padding:2em;
	display:block;
	float:left;
	border-right:1px solid #cccccc;
	height:100%;
}

#item_image_holder{
	width:280px;
	min-height:320px;
}
#item_image{
	padding:3px;
	border:1px solid #cccccc;
	margin-right:1em;
	border-radius:5px;
	width:275px;
	display:block;
	min-height:280px;
}


#item_title{
	margin-top:6px;
	font-size:2em;
	height:auto;
	line-height:1em;
	margin-bottom:10px;
}

#item_price{
	font-size:1.2em;
	font-weight:bold;
	color:maroon;
}

#item_details{
	display:block;
	line-height:2.5em;
}

#item_desc{
	display:block;
	margin-left:5px;
	margin-top:10px;
	min-height:10
	0px;
}

#item_desc_content,#item_spec_content{
	margin-top:5px;
	text-align:justify;
}

#item_spec{
	margin-left:5px;
	display:block;
	min-height:200px;
	margin-top:10px;
}

#add_image_info{
	text-align:center;
}
#add_image{
	display:none;
	text-align:center;
	background-color:black;
	width:100%;
	opacity:0.1;
	color:white;
	height:2em;
	border-radius:3px;
	cursor:pointer;
}
#add_image_form{
	position:absolute;
	opacity:0;
}
.input_as_label{
	border:none;
	color:red;
}

#item{
	margin:0;
}


//list user items

.thumbnail{
	padding:1px;
	margin-top:4px;
	overflow:hidden;
	width:280px;
}
.thumb_img{
	float:left;
	width:50px;
	height:50px;
	display:block;
	padding:4px;
	margin-right:0.5em;
	cursor:pointer;

	img{
		display:block;

	}
}

.item_title{
	font-weight:bold;
	font-size:1.3em;
}

#addimg{
	text-align:center;
	padding-top:5px;
	padding-bottom:5px;
	cursor:pointer;
	background-image:url("/assets/upload.jpg") ;
	height:20px;
	background-size: 30px 30px;
	background-repeat:no-repeat;
	width:30px;
	float:left;
	border-radius:3px;
	overflow:hidden;

}

#remove_image{
	display:none;
	cursor:pointer;
	height:30px;
	width:30px;
	cursor:pointer;
	float:left;
	position:absolute;
	margin-left:-30px;
}


#image_upload_form{
	opacity:0;
}


#item_left{
	float:left;
	display:block;
}

.thumb_image{
	width:50px;
	height:50px;
	float:left;
	margin-left:3px;
	cursor:pointer;

}

#image_list{
	border:1px solid #cccccc;
	display:block;
	border-radius:3px;
	width: 280px;
	overflow:hidden;
}

.specifications lable{
	text-align:right;
}

#finish_edit,#cancel_edit,#edit_actions{
	display:none;
}
//analytics 



.item_label{
	font-weight:bold;
}

.edit_hidden,.edit_hidden_spec{
	display:none;
}
