// Place all the styles related to the p2p/Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#view_item{
	width:70%;
	padding:2em;
	display:block;
	float:left;
	border-right:1px solid #cccccc;
	height:100%;

}

#view_item_image{
	padding:3px;
	border:1px solid #cccccc;
	margin-right:1em;
	border-radius:5px;
	display:block;
	margin-bottom:5px;
	width:275px;
	height:300px;
}


#item_title{
	margin-top:6px;
	font-size:3em;
	margin-bottom:15px;
}

#item_price{
	font-size:1.2em;
	font-weight:bold;
	color:maroon;
}

#item_description{
	width:100%;
	margin-left:6px;
	display:block;

}

#analytics,#action_buttons{
	margin-left:1em;	
	display:block;
	width:20%;
	float:left;
	margin-top:20px;
}



#item_attributes{
	margin-left:2em;
}

.input_as_label{
	border:none;
	color:red;
}





//list user items

.thumbnail{
	margin-bottom:10px;
	padding:5px;
}
.thumb_img{
	float:left;
	width:100px;
	height:100px;
	display:block;
	padding:4px;
	border:1px solid #cccccc;
	margin-right:1em;

	img{
		display:block;
		width:100%;
		height:100%;
	}
}

.item_title{
	font-weight:bold;
	font-size:1.3em;
}


//new sell item form
#new_item{
	margin:auto;
	width:50%;
}


#item_classification,#item_location,#item_details,#item_spec{
	position:relative;
	display:block;
}

#item_location,#item_details,#item_spec{
	display:none;
}


.list_form{
	display:block;

}

#addimg{
	text-align:center;
	padding-top:5px;
	padding-bottom:5px;
	cursor:pointer;
	background-image:url("/assets/upload.jpg") ;
	height:20px;
	background-size: 30px 30px;
	background-repeat:no-repeat;
	width:30px;
	float:left;
	border-radius:3px;
	overflow:hidden;
}

#remove_image{
	font-style:bold;
	color:red;
	display:inline;
	cursor:pointer;
	padding:3px;
	right:0;
	font-size:2em;
	height:30px;
	width:30px;
	margin-left:10px;
	text-align:center;
	cursor:pointer;
	float:left;
}

#remove_image:hover{
	background-color:red;
	color:white;
}


#file_add_image{
	opacity:0;
}


#item_left{
	float:left;
	display:block;
}

.thumb_image{
	width:50px;
	height:50px;
	float:left;
	margin-left:3px;
	cursor:pointer;

}

#image_list{
	border:1px solid #cccccc;
	display:block;
	border-radius:3px;
	width: 280px;
	overflow:hidden;
}

//analytics 
