/* Header  */

#header{
	background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
	min-height:2em;
}

#header_container{
	width:80%;
	margin:auto;
	padding:0.3em;


}


#top_logo{
	padding-top:0.4em;
	margin-right: 4em;
}


/* Body */
body{
	
}

#body_content{
	width:90%;
	margin:auto;
	border: 1px solid #cccccc;
	margin-top: 1em;
	margin-bottom: 1em;
	border-radius: 10px;
	padding: 1em;
}

/* Footer */
#footer{
	bottom:0;
	background-image: -webkit-linear-gradient(bottom,#fff,#e6e6e6);
	height:2em;
	text-align:center;
	color:#666666;
}


