//= require global/jquery-ui-1.10.0.tabs.min

/* Header  */

#header{
	background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
	min-height:2em;
}

#header_container{
	width:80%;
	margin:auto;
	padding:0.3em;


}


#top_logo{
	padding-top:0.4em;
	margin-right: 4em;
}


/* Body */
body{

	a{
		text-decoration: none;

	}	

	#body_content{
		width:90%;
		margin:auto;
		border: 1px solid #cccccc;
		margin-top: 1em;
		margin-bottom: 1em;
		border-radius: 10px;
		padding: 1em;
	}
	
}




/* Footer */
#footer{
	bottom:0;
	background-image: -webkit-linear-gradient(bottom,#fff,#e6e6e6);
	height:2em;
	text-align:center;
	color:#666666;
}




/* Login */


#login_box
{
	width:580px;
	#login_box_left{
		width:48%;
		float: left;
		border-right:1px dotted #000;
		#login_box_left_login{
			height: 100%;
			margin-left: 3%;
		}
		#login_box_left_signup{
			display:none;
		}
		#login_box_left_password{
			display: none;
		}
	}
	#login_box_right{
		width: 48%;
		float: right;
		margin: 29px -13px 0px 0px;
	}

}
