/**video content **/
.video_content .grid_3_5{
	padding: 50px 20px;
}
.video_content  h2{
	margin: 5px 0 20px;
	font-size: 1.5em !important;
	line-height: 21px !important;
}
.video_content  span{
	font-size: 20px;
	color: #B4B5B5;
	margin: 20px 0;
}
.fb_big_logi{
	background: url("/assets/home-sprite.png") no-repeat scroll -2px -81px transparent;
    display: block;
    height: 45px;
    margin: 40px 0 0px;
    width: 238px;
}

/** content **/
.content{
	background: url("/assets/cont-bg.png") repeat;
	padding-bottom: 100px;
}
.content h1{
	padding: 50px 0;
}
	
.info_icon{
	border-radius: 50% 50% 50% 50%;
	background: #fff;
	width: 75px;
	height: 75px;
	padding: 32px;
}

.info_icon[class*="icon"] div{
	background: url("/assets/home-sprite.png") no-repeat;
    height: 75px;
    width: 75px;
}
.info_icon.icon1{
}
.info_icon.icon1 div{
	background-position: -5px -127px;
}

.info_icon.icon2 div{
	background-position: -104px -127px;
}

.info_icon.icon3 div{
	background-position: -204px -127px;
}

.info_icon.icon4 div{
	background-position: -5px -204px;
}
[class*="info_cont"]{
	width: 320px;
	padding: 15px 10px;
}
[class*="info_cont"] h2{
	color: #666;
	font-weight: bold;
	font-size: 1.5em !important;
	line-height: 21px !important;
}
[class*="info_cont"] span{
	color: #7F7D7D;
	font-size: 20px;
}
.nav_circles{
	left: 50%;
    position: relative;
	margin: 70px 0 50px;
}
.mk_center{
	left: -50%;
    position: relative;
}
.nav_circle{
	border-radius: 50% 50% 50% 50%;
	background: #fff;
	width: 15px;
	height: 15px;
	border:1px solid #ccc;
	float: left;
	margin-right: 10px;
}
.nav_circle.selected{
	background: #F65757;
	border: none;
	width: 16px;
	height: 16px;
	box-shadow:inset 2px 2px 2px rgba(0,0,0,.5);
	-moz-box-shadow:inset 2px 2px 2px rgba(0,0,0,.5);
	-webkit-box-shadow:inset 2px 2px 2px rgba(0,0,0,.5);
}

.caro_prev, .caro_next{
	background: url("/assets/home-sprite.png") no-repeat;
    height: 75px;
    width: 30px;
	margin-top: 35px;
}
.caro_next{
	background-position: -128px -203px;
}
.caro_prev{
	background-position: -93px -203px;
}
.caro_prev:hover{
	background-position: -164px -203px;
}
.caro_next:hover{
	background-position: -198px -203px;
}
.carousal li{
	background:#E5E4E4;
    float: left;
    height: 130px;
    margin: 10px 25px;
    width: 256px;
}

/* search box css */
#search_books{
	text-align: center;
	height: 500px;
	background: #E5E4E4;
	margin-top: 53px;
	z-index: 10;
	display: none;
	position: relative;
	overflow-y: auto;

	.highlight { 
		background-color: yellow 
	}
}

#no_search_result{
	display: none;
	width: 93%;
	margin: auto;
}

.search_books_single{
	display: inline-block;
	margin: 20px;
	border: 1px solid #CCC;
	padding: 8px;
	width: 246px;
	cursor: pointer;

	.book_left{
		display: block;
		float: left;
		width: 50%;
	}
	.book_right{
		float: right;
		width: 50%;
		text-align: left;

		.name{
			font-size: 16px;
			font-weight: 900;
			color: #CC4D5C;
			margin: 4px 0px 3px 5px;
			max-height: 40px;
			overflow: hidden;
		}
		.author{
			font-size: 16px;
			font-weight: 900;
			color: #000;
			margin: 4px 0px 3px 5px;
		}
		.isbn{
			font-size: 12px;
			font-weight: 900;
			color: #000;
			margin: 0px 0px 3px 5px;
		}
		.add_to_cart{
			font-size: 16px;
			font-weight: 900;
			color: #CC4D5C;
			margin: 0px 0px 3px 5px;
		}
	}
}

#searchClose{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}
/* book_details css*/
#book_details{

	span.blue{
		color: #CC4D5C;
	}
	.book_heading{
		font-size: 22px;
		border-bottom: 1px solid #AAA;
		padding: 20px;
	}

	.left{
		float: left;
		width: 35%;
		
		.book_image {
			float: left;
			width: 25%;
			margin: 20px;

			img{
				padding: 5px;
				border: 1px solid #AAA;
			}
		}

		.auther_edition {
			float: right;
			width: 65%;
			margin-top: 20px;

			.edition{
				margin-bottom: 15px;
			}
			.author{

			}
			.add_to_cart{
				color: #CC4D5C;
				font-weight: 900;
				font-size: 18px;
				cursor: pointer;
			}
			.add_to_wishlist{
				margin-top: 10px;
				cursor: pointer;
			}
		}

		.socio_rent_rank{
			border-top: 1px solid #AAA;
			border-bottom: 1px solid #AAA;
			padding: 10px 0px;

			.socio_rent_rank_left {
				float: left;
				width: 50%;
				text-align: center;
			}
			.socio_rent_rank_right {
				float: right;
				text-align: center;
				width: 50%;
			}

		}

		.information{
			margin-top: 20px;
			text-transform: uppercase;

			.information_left {
				float: left;
				width: 40%;
				margin-left: 14%;
			}

			.information_right {
				float: right;
				width: 40%;
			}
		}

		.class_adoption_caption{
			margin: 20px 0px 15px 10px;
			color: #CC4D5C;
		}
		.class_adoption_single {
			width: 90%;
			margin: 10px auto;

			.class_adoption_college {
				float: left;
				margin-bottom: 5px;
			}
			.class_adoption_rate {
				float: right;
				margin-bottom: 5px;
			}
		}

	}
	.right{
		float: right;
		width: 60%;

		.text{
			margin: 30px auto;
			width: 90%;

			.text_left{
				float: left;
				width: 15%;
			}
			.text_right {
				float: right;
				width: 85%;
			}
		}

		.reviews_box{
			.reviews_caption{
				background: #AAA;
				padding: 5px 20px;
				border-radius: 8px;

				.reviews_caption_left{
					float:left;
					width: 40%;
				}
				.reviews_caption_right{
					float: right;
					width: 40%;
					text-align: right;
					cursor: pointer;
				}
			}
			.reviews{
				text-align: center;
				margin-top: 20px;

				.reviews_form{
					text-align: left;
					margin-left: 15px;
					margin-top: 20px;
				
					.reviews_input{
						width: 750px;
					}
					.reviews_submit{

					}
				}
				.reviews_content{
					.review_single {
						text-align: left;
						width: 90%;
						margin: 15px auto;

						.review_single_right {
							float: right;
							width: 80%;
						}
							.review_single_left {
							float: left;
							width: 20%;
							color: #CC4D5C;
						}
					}
				}
			}

		}
	}
}

/**footer**/
.footer{
	background: #242424;
}
.footer ul li{
	border-right: 3px solid #303030;
    color: #919191;
    font-size: 18px;
    padding:5px 20px;
    width: 180px;
}
.footer .grid_1{
	padding: 60px;
}
.footer_cpy{
	background: none repeat scroll 0 0 #1A1A1A;
    color: #656565;
    font-size: 20px;
    padding: 20px 0;
}
.footer_cpy span{
	margin-left: 550px;
}
.links{
	margin-right: 70px;
}
.foot_box ul li{
	float: left;
    height: 47px;
    margin: 14px 8px 0 0;
    padding: 0;
    width: 47px;
	border: 0;
}
.foot_box ul li a{
	display: block;
    height: 100%;
    width: 100%;
}