/* Addition CSS */

span.login_or{ 
	width: 10px;
	float: left;
	padding: 35px 0px 0px 15px;
}

/**video content **/
.video_content .grid_3_5{
	padding: 20px;
}
.video_content  h2{
	margin: 35px 0 20px;
	font-size:1.5em;
}
.video_content  .join_txt{
	font-size: 20px;
	color: #B4B5B5;
	margin: 10px 0;
	display: block;
	line-height:24px;
}
.search_wrap{
    border-bottom: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px #FFFFFF;
    margin: 0 auto;
    padding: 30px 0;
    width: 100%;
}

#no_search_result_caption{
	text-align: center;
	padding : 20px;
}

.search_wrap h2{
	color: #666666;
  font-size: 21px;
  font-weight: bold;
  padding-top: 10px;
  text-align: center;
}
#searchClose{
	margin-top: -4px;
	height: 30px;
	width: 30px;
	background: #F65757;
	padding: 2px !important;
	margin-left: 22px;
	display:none;
}
.searchbar{
	background: none repeat scroll 0 0 #FAFAFA;
  border: 7px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 2px 2px #AAAAAA inset;
  height: 21px;
  margin: 10px auto;
  padding: 10px;
  width: 560px;
}
.search{
	background: #fafafa !important;
	border:none !important;
  font-size: 18px;
  width:395px;
  box-shadow:none !important;
}
form#search{
	width: 630px;
}
#search_books_input{
	width: 505px;
}
.search:focus{
	box-shadow:none !important;
  -webkit-box-shadow:none;
}
.searchbutton {
    background: url("/assets/home-sprite.png") no-repeat scroll -248px -93px #FAFAFA;
    border: medium none;
    height: 25px;
    text-indent: -1000px;
    width: 40px !important;
	cursor: pointer;
}
.searchbutton:hover {
	opacity: 0.7;
}
.fb_big_logi{
	background: url("/assets/home-sprite.png") no-repeat scroll -1px -79px transparent;
    display: block;
    height: 50px;
    margin: 20px 0 0;
    width: 239px;
}
.signup_link{
	font-size: 18px;
	margin-top: 20px;
	padding: 12px;
}
.signup_link:active{
	color:greep !important;		
}

.tite_rent {
	color: #F65757;
}

.signup_link span{
	font-size: 12px;
    border-radius: 5px 5px 5px 5px;
    padding: 13px;
}
/** content **/
.content{
	background: url("/assets/paper.jpg") repeat;
	padding-bottom: 100px;
}
.content h1{
	padding: 30px 0;
}
	
.info_icon{
	border-radius: 50% 50% 50% 50%;
	background: #fff;
	width: 75px;
	height: 75px;
	padding: 32px;
}

.info_icon[class*="icon"] div{
	background: url("/assets/home-sprite.png") no-repeat;
    height: 75px;
    width: 75px;
}
.info_icon.icon1{
}
.info_icon.icon1 div{
	background-position: -5px -127px;
}

.info_icon.icon2 div{
	background-position: -104px -127px;
}

.info_icon.icon3 div{
	background-position: -204px -127px;
}

.info_icon.icon4 div{
	background-position: -5px -204px;
}
[class*="info_cont"]{
	width: 300px;
}
[class*="info_cont"] h2{
	color: #666;
	font-weight: bold;
	font-size: 1.5em;
	margin-bottom: 9px;
}

.info_cont2{
	padding: 20px 10px;
}
.info_cont1{
	padding:22px 10px;
}
.info_cont3{
	padding:30px 10px;
}
.info_cont4{
	padding:15px 10px;
}
[class*="info_cont"] span{
	color: #7F7D7D;
	font-size: 17px;
}
.nav_circles{
	left: 50%;
    position: relative;
	margin: 70px 0 50px;
}
.mk_center{
	left: -50%;
    position: relative;
}
.nav_circle{
	border-radius: 50% 50% 50% 50%;
	background: #fff;
	width: 15px;
	height: 15px;
	border:1px solid #ccc;
	float: left;
	margin-right: 10px;
}
.nav_circle.selected{
	background: #F65757;
	border: none;
	width: 16px;
	height: 16px;
	box-shadow:inset 2px 2px 2px rgba(0,0,0,.5);
	-moz-box-shadow:inset 2px 2px 2px rgba(0,0,0,.5);
	-webkit-box-shadow:inset 2px 2px 2px rgba(0,0,0,.5);
}


.caro_prev, .caro_next{
	background: url("/assets/home-sprite.png") no-repeat;
    height: 75px;
    width: 30px;
	margin-top: 35px;
}
.caro_next{
	background-position: -128px -203px;
}
.caro_prev{
	background-position: -93px -203px;
}
.caro_prev:hover{
	background-position: -164px -203px;
}
.caro_next:hover{
	background-position: -198px -203px;
}
.carousal li{
	background:#E5E4E4;
    float: left;
    height: 130px;
    margin: 10px 25px;
    width: 256px;
}

/***********result books*******************/
#search_books{
	width: 1050px;
}

.search_books_single{
	display: inline-block;
	margin: 20px;
	padding: 8px;
	width: 280px;
	cursor: pointer;
	background: white;
	border-radius: 5px;
	height: 160px;
	img{
		height:160px !important;
	}
	.book_left{
		display: block;
		float: left;
		width: 42%;
	}
	.book_right{
		float: right;
		width: 57%;
		text-align: left;
		height: 100%;
		position: relative;

		.name{
			font-size: 14px;
			font-weight: 600;
			color: #696969;
			margin: 4px 0px 3px 5px;
			max-height: 40px;
			overflow: hidden;
		}
		.author{
			font-size: 13px;
			font-weight: 600;
			color: #0F8159;
			margin: 4px 0px 3px 5px;
			height: 20px;
			overflow: hidden;

			span{
				font-size: 12px;
			}
		}
		.mrp, .rent_price{
			margin: 4px 0px 3px 5px;
			height: 20px;
			overflow: hidden;			
		}
		.add_to_cart{
			font-size: 13px;
			background: #F65757;
			display: inline-block;
			padding: 3px 7px;
			border-radius: 3px;
			color: white;
			position: absolute;
			bottom: 0px;
			right: 0px;
		}

		.already_rented {
			font-size: 10px;
			line-height: 14px;
			font-weight: 400;
			margin-left: 7px;
		}

		.add_to_compare_box{
			.add_to_compare{
				float: left;
				margin-left: 5px
			}
			label{
				float: left;
				margin-left: 6px;
			}
		}
	}
}
/************* end result books *******/


#gallery-wrap{margin: 0 auto;overflow: hidden;width: 920px;position: relative;float: left;}
#gallery{position: relative; left: 0; top: 0;}
.fl{
		float:left;
	}
	.fr{
		float:right;
	}
	.fc{
		clear: both;
	}

#login_box
{
	width:580px;
	#login_box_left{
		width:48%;
		float: left;
		border-right:1px dotted #000;
		#login_box_left_login{
			height: 100%;
			margin-left: 3%;
		}
		#login_box_left_signup{
			display:none;
		}
		#login_box_left_password{
			display: none;
		}
	}
	#login_box_right{
		width: 48%;
		float: right;
		margin: 29px -13px 0px 0px;
	}
}
#devise_pages{
	margin:5px;
	h2{
		font-size:14px;
		font-weight: bold;
	}
	a{
		font-size: 12px;
		padding-right: 20px;
	}
	.new_user, .validate_reg{
			div{
				clear:both;
				label{
					float:left;
					font-size:12px;
					display:block;
					width:35%;
					margin-top: 10px;
				}
				label.error{
					float: right;
					width: 60%;
					padding: 0px;
					margin: 0px;
				}
				input[type=text], input[type=email], input[type=password]{
					font-size: 12px;
					width: 60%;
					padding: 1px;
					margin-bottom: 0px;
					margin-top: 10px;
				}
				input[type=checkbox]{
					width:20px;
				}
				input[type=submit]{
				}
			}
			}
}
/*********  Book details css  ********/
#book_details{

	span.blue{
		color: #CC4D5C;
	}
	.book_heading{
		font-size: 22px;
		border-bottom: 1px solid #AAA;
		padding: 26px 5px 20px 5px;

		small {
			font-size: 68%;
		}
		.heading{
			float:left;
			width:40%;
			margin-top:-16px;
		}
		.login_btn
		{
			float: right;
			padding: 0px;
			margin-top: -50px;
			
			a{
			float:left;
			}
		}
	}

	.left{
		float: left;
		width: 35%;
		
		.book_image {
			float: left;
			width: 25%;
			margin: 20px;

			img{
				padding: 5px;
				border: 1px solid #AAA;
			}
		}

		.auther_edition {
			float: right;
			width: 62%;
			margin-top: 20px;

			.edition{
				margin-bottom: 15px;
			}
			.author{

			}
			.add_to_wishlist{
				margin-top: 10px;
				cursor: pointer;
			}
		}

		.socio_rent_rank{
			border-top: 1px solid #AAA;
			border-bottom: 1px solid #AAA;
			padding: 10px 0px;

			.socio_rent_rank_left {
				float: left;
				width: 50%;
				text-align: center;
			}
			.socio_rent_rank_right {
				float: right;
				text-align: center;
				width: 50%;
			}

		}


	}
	.right{
		float: right;
		width: 32%;

		.add_to_cart{
			border-radius: 3px;
			width: 150px;
			height: 21px;
		}

		.information_price{
			font-size: 20px;

			.information_left{
				margin-bottom: 8px;
			}
		}

		.information{
			margin-top: 20px;
			text-transform: uppercase;

			.information_left {
				float: left;
				width: 40%;
				margin-left: 14%;
			}

			.information_right {
				float: right;
				width: 40%;
			}
		}
	}

	.text{
		margin: 30px auto;
		width: 90%;

		.text_left{
			float: left;
			width: 15%;
		}
		.text_right {
			float: right;
			width: 85%;
		}
	}

	.reviews_box{
		.reviews_caption{
			background: #AAA;
			padding: 5px 20px;
			border-radius: 8px;

			.reviews_caption_left{
				float:left;
				width: 40%;
			}
			.reviews_caption_right{
				float: right;
				width: 40%;
				text-align: right;
				cursor: pointer;
			}
		}
		.reviews{
			text-align: center;
			margin-top: 20px;

			.reviews_form{
				text-align: left;
				margin-left: 15px;
				margin-top: 20px;
				display: none;
			
				.reviews_input{
					width: 750px;
				}
				.reviews_submit{

				}
			}
			.reviews_content{
				.review_single {
					text-align: left;
					width: 90%;
					margin: 15px auto;

					.review_single_right {
						float: right;
						width: 80%;
					}
						.review_single_left {
						float: left;
						width: 20%;
						color: #CC4D5C;
					}
				}
			}
		}

	}
}

.nivo-controlNav{
	display: none;
}

.add_to_cart{
	border-radius: 3px;
	width: 150px;
	height: 21px;
	font-size: 13px;
	background: #F65757;
	padding: 6px 7px 3px;
	color: white;
	text-align: center;
	cursor: pointer;
}
