<%= form_tag "/cb_admin/college/import_college",:multipart=>"true", class: "form-horizontal" do |f| %>
   <div class="control-group">
		<label class="control-label">Upload File (Must be seperated by <b>||</b> and should be in text file)</label>
		<div class="controls">
				<input type="file" name="college_text" >
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
				<input type="submit" class="btn">
		</div>
	</div>
<% end %>
 