.clear{
	clear: both;
}

.rails_alert{
	display: none;
}

.rails_notice{
	position: absolute;
	top: 76px;
	z-index: 1000;
	text-align: center;
	width: 300px;
	background: #C9A765;
	padding: 5px;
	border-radius: 3px;
	left: 50%;
	margin-left: -150px;
}

#page_not_found,#loading_div {
	display: none;
	position: absolute;
	top: 8px;
	left: 42%;
	width: 16%;
	background: #F9EDBE;
	border: 1px solid #D6C06B;
	color: #222;
	padding: 2px 8px;
	z-index: 100000;
	text-align: center;
}


.ui-dialog{
	position: fixed;
}
.ui-dialog .ui-dialog-content{
		background: url("/assets/paper.jpg") repeat !important;
}

.ui-dialog .ui-dialog-titlebar {
	/*display: none;*/
	background: #777;
	outline: none;
	border: none;
}

a{
	cursor: pointer;
}



/**************css global **********/

/* Fonts */
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);
@font-face {
	font-family: 'MuseoSlab-500';
	src: url('/assets/fonts/24EF4C_0_0.eot');
	src: url('/assets/global/fonts/24EF4C_0_0.eot?#iefix') format('embedded-opentype'),
	url('/assets/global/fonts/24EF4C_0_0.woff') format('woff'),
	url('/assets/global/fonts/24EF4C_0_0.ttf') format('truetype');
}

@font-face {
	font-family: 'Arvo';
	src: url('/assets/global/fonts/adellebasic/adellebasic_bold.eot');
	src: url('/assets/global/fonts/adellebasic/adellebasic_bold.eot?#iefix') format('embedded-opentype'),
			 url('/assets/global/fonts/adellebasic/adellebasic_bold.woff') format('woff'),
			 url('/assets/global/fonts/adellebasic/adellebasic_bold.ttf') format('truetype'),
			 url('/assets/global/fonts/adellebasic/adellebasic_bold.svg#arvo-regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'rupee';
	src: local('hanzo'),url(/assets/fonts/Hattori_Hanzo_Italic.otf);
	font-weight: normal;
	font-style: normal;
}

.font_page{
	font-family: 'PT Sans', sans-serif;
}

.font-dialog{
	font-family: 'PT Sans', sans-serif;
}


html, form, body, fieldset, ul, li, ol, h1, h2, h3, a, p {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-family: 'PT Sans', sans-serif;
}


h2{
		line-height:22px;
}
th {
	text-transform: capitalize;
}
li {
	list-style: none;
	line-height:17px;
}

.disc{
	li{
		list-style: inside disc;
	}
}
.square{
	li{
		list-style: inside square;
	}
}
/**typo**/
.homepage_title{
	font-family: 'Arvo';
	font-size: 30px;
	font-weight: normal;
}
h1{
	font-size: 34px;
	line-height: 50px;
	color: #1A1A1A;
	font-weight: normal !important;
}
a {
	text-decoration: none;
}

a:visited { color: #049; }
.green{
	color: #0F8159;
}
body {
  background: white;
  font-size: 13px;
  font-family: 'PT Sans', sans-serif !important;
}

.left {
    float: left;
}

.right {
    float: right;
}

.hidden{
	display: none;
}

.center {
    text-align: center;
}
.error {
	color: red !important;
}
.cB {
    clear: both;
}
[class*="grid"] {
    float: left;
    min-height: 1px;
	padding:5px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
.wrapper{
	max-width: 980px;
	margin: 0 auto;
}
.grid_1{
	width: 100%;
}
.grid_1_2{
	width: 50%;
}
.grid_1_4{
	width: 25%;
}
.grid_3_5{
	width: 60%;
	padding: 5px;
}
.grid_2_5{
	width: 40%;
	padding: 5px;
}
/**header**/
.topbar{
	border-top: 8px solid #0F8159;
	background: #444 repeat;
}

.logo{

  height: 70px;
	margin: 20px 0 25px;
	color:#fff;
	margin-right:50px;
	text-align:center;
	width:auto;
	height:45px;
}

.logo .pointer{
  -webkit-transform: rotate(90deg);
  -moz-transform:    rotate(90deg);
  -ms-transform:     rotate(90deg);
  -o-transform:      rotate(90deg);
  transform:         rotate(90deg);
}

.socio_logo_holder{
	margin-top: 30px;
}

.socio_logo_holder,.socio_logo{
	width:230px;
	.pointer{
		margin-top: 9px;
		margin-left: -60px;
	}
}

.street_logo_holder{
	margin-top: 15px;
}
.street_logo_holder,.street_logo{
	width:250px;
}

.logo h1{
	/** text-indent: -999px; **/
}

.foot_box{
	background: url("/assets/home-sprite.png") no-repeat scroll 0px -288px;
	margin-top: 60px;
}
.main_nav{
	margin-top: 35px;
}
.main_nav li a{
	display: block;
	color: #fff;
	padding: 15px 20px;
	font-size: 15px;
	font-weight: bold;
}
.main_nav li a:hover{
	background: #E9EAEA;
	color: #0F8159;
}
.main_nav li a.selected{
	background: #F65757;
	color: #fff;
	padding: 8px 20px;
	margin-top:7px;
	border-radius: 3px 3px 3px 3px;
}
.main_nav li{
	float: left;
}

.university_logos{
	margin:20px;
	li{
		padding:10px;
		display:inline-block;
		width:209px;
		img{ width:190px;
			padding:5px;
		}

	}

}

.btn{
	background: #F65757  !important;
	color: white !important;
	font-weight: 400 !important;
	text-shadow: none !important;
	font-size: 13px !important;
	padding: 4px 22px !important;
}

.btn:hover{
	background: #F65757 !important;
	color: white !important;
	font-weight: 400 !important;
	text-shadow: none;
}

.btn:active{
	background: #F65757;
	color: white !important;
	font-weight: 400 !important;
	text-shadow: none;
}
.contact_socio{
	color:#797979;
	font-size: 14px;
	padding-top: 10px;
	img{
		height: 16px;
		padding: 0px 5px;
		margin-top: -5px;
	}
	a{
			color:#797979;
	}
}

#colleges_page {
	margin-top : 50px;
}

#terms_of_use_page p {
	background: none !important;
}