
<% content_for :pagetitle  do %>
    Edit <%= @p2p_product.name %> product -Admin
<%end %>


<div class="row" id="body_content" >

     <div class="span3">

      <ul class="nav nav-list">

        <%= render "/street/users/dashboard_menu.html.erb" %>
        <%#= render "/street/index/scat_menu" %>

      </ul>
    </div>


	<div class="span9">

			<h3>Editing Product</h3>

			<%= render 'form' %>

			<%= link_to 'Back', street_products_path %>
	</div>
</div>