<% content_for :pagetitle  do %>
	Add a new Product -Admin
<%end %>



<div class="row" id="body_content" >

     <div class="span3">

      <ul class="nav nav-list">

        <%= render "/street/users/dashboard_menu.html.erb" %>
        <%#= render "/street/index/scat_menu" %>

      </ul>
    </div>


<div class="span9">

<h3>New Product</h3>


<%= render 'form' %>

<%= link_to 'Back', street_products_path %>
</div></div>

<script>


	$(document).ready(function(){
		$("#new_p2p_product").submit(function(){
			if ($("#p2p_product_name").val().indexOf('-') != -1 ){
				alert('Name cannot contain -');
				$("#p2p_product_name").val('');
				return false;
			}
		});
	});

</script>