#Itemlist {
	margin-top: 20px;
}

#listHeader {
	height: 20px;
	background: url(/assets/p2p/index/texture.png) repeat;
	margin: 0px 0px 15px 0px;
	padding: 10px 15px;
}

.thumbnails li a {
	text-decoration: none;
}

.thumbnail img{
	margin-top: 5px;
}

#items {
	min-height: 700px;
/*	height: 700px;	
	overflow: auto;
*/
}

#filter i {
	float: right;
	margin-top: 3px;
}

#filter i:hover {
	background-color: red;
}

#overlay{
	background-color: #666;
	position: fixed;
	opacity:0.3;
	display: none;
}



#items{
	min-height:600px;
}

.icon-remove{
	margin-top: 6px;
	cursor: pointer;
}

#noitems{
	display: inline-block;
	text-align: center;

}