f#Itemlist {
	margin-top: 20px;
}

#listHeader {
	height: 20px;
	background: url(/assets/p2p/index/texture.png) repeat;
	margin: 0px 0px 15px 0px;
	padding: 10px 15px;
}

.thumbnails li a {
	text-decoration: none;
}

.thumbnails .thumbs{
	width:50px;
	height:50px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	border: 1px solid #ccc;
}

.thumbnails .thumbs img{
	display: block;
}

#items {
	min-height: 700px;
}

#filter i {
	float: right;
	margin-top: 3px;
}

#filter i:hover {
	background-color: red;
}

#overlay{
	background-color: #666;
	position: fixed;
	opacity:0.3;
	display: none;
}

#items{
	min-height:800px;
	margin-bottom: 20px;
}

.spec-filter .icon-remove{
	margin-top: 4px;
	cursor: pointer;
	float:right;

}

.spec-filter .icon-remove:hover {
	border-top: 1px solid red;
}

#noitems{
	display: inline-block;
	text-align: center;

}

.image_holder{
	width:120px;
	height:120px;
	display: block;
	text-align: center;;
}


.approve_item{
	opacity: 0.3;
}


.approve_item:hover{
	opacity: 1;
}


/*//item view page*/
.disapprove_item{
	opacity: 0.3;
}

.disapprove_item:hover{
	opacity: 1;
}


.approve_item > i ,.disapprove_item > i{
	margin-top: -2px;
	margin-left: 2px;
}

.highlight_force_color{
	color: maroon !important;
}

.highlight{
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    color: maroon;
	font-weight: bolder;
	font-size: 1.1em;
}

#item_top_details{
	 margin-top:  10px;
	margin-left: 50px;
}

.item_top_details_detail{
	line-height: 1.3em;
	font-size: 1.3em;
	margin-top: 15px;
}

.big{
	font-size:2em;	
	line-height: 1.7em;
}

.big > .highlight{
	font-size:1.1em;
	color:maroon;
	font-weight:bold;
}

#desc{
    min-height: 200px;
}

#desc_content{
	word-wrap:break-word;
}

#desc{
	min-height:100px;
	margin-bottom: 20px;
}
/*
#desc > .editable-container{
	width:600px;
}*/

.accordion-heading{
	cursor:pointer;
	background-color: whitesmoke;
}

.accordion-heading:hover{
	background-color: lightyellow;
	font-weight: bold;
}

.accordion-heading a:hover,a,a:visited,a:focus{
	text-decoration: none;
}

#image_upload{
	cursor: pointer;
}
#upload_image{
	width:290px;
	height:300px;
	background-image: url('/assets/p2p/img/upload.png');
}


#citruspay_form{
	margin:0px !important;
}

#item_top_buy_button{
	margin-left: 40px;
	display: table-cell;
	vertical-align: middle;
}

#clearuploads{
	cursor: pointer;
}