#content{
	width: 400px;
	margin : 100px auto;
	text-align: center;
}

.active-result{
	text-align: left !important;
}

.chzn-single{
	text-align: left;
}

#college_chzn, #stream_chzn{
	 margin-bottom: 20px !important;
}
.reg_submit{
	margin-top:20px;
}

#error{
	margin-top: 15px;
}
