#user{
	background: #DEDEDD;
	padding: 7px 0px;
	z-index: 102;
	position: relative;
	color : #696969;
	height: 30px;
	width: 100%;

	.left{
		float: left;
		width: 20%;
		margin-left: 13%;

		div{
			margin-left: 60px;
			margin-top: 4px;
		}
	}

	.arrow-down {
		width: 0;
		height: 0;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-top: 6px solid #F65757;
		left: 7px;
		position: relative;
	}

	.right{
		float: right;
		width: 30%;
		margin-right: 15%;

		.cart_button_count{
			background: #F65757;
			padding: 3px 10px;
			border-radius: 4px;
			color: white;
			margin-top: 0px;
			width: 8px;
		}

		#compare_button{
			font-weight: 900;
		}

		div.menu_button{
			float: right;
			margin: 0px 20px;
			cursor: pointer;
			margin-top: 4px;
			width: 44px;

			a{
				text-decoration: none;
				color: #696969;
			}
		}
		#cart_button_total{
			background: #FFF;
			min-width: 185px;
			margin-left: -89px;
			padding: 13px 9px;
			-webkit-box-shadow: 0 4px 4px -2px #AAA;
   		-moz-box-shadow: 0 4px 4px -2px #AAA;
      box-shadow: 0 4px 4px -2px #AAA;

			#cart_button_total_left{
				float: left;
				padding-top: 4px;
			}
			#cart_button_total_right{
				float: right;
				background: #F65757;
				color: white;
				padding: 4px;
			}
		}
	}
}

.center{
	text-align: center;
}

#content{
	min-height: 600px;
	background: #F0F0F0;
	margin-bottom:20px;

	#content_search{
		#search_books_form_box{
			background: #F0F0F0;
			padding: 20px 0px;
			width: 100%;
			height: 30px;
			z-index: 100;
		}
		
		#search_books_form{
			max-width: 450px;
			left: 16%;
			position: relative;
			border: 5px solid #DEDEDD;
			border-radius: 5px;
			padding: 5px;
			background: #FAFAFA;
			width: 33%;
			height: 25px;

			#search_books_input{
				max-width: 355px !important;
				border: none !important;
				outline: 0px !important;
				box-shadow: none;
				-moz-box-shadow: none;
				-webkit-box-shadow: none;
				background: transparent;
				width: 80%;
				height:26px;
				float:left;
				margin-top: -3px;
			}
			.search_icon{
				background: url("/assets/home-sprite.png") no-repeat scroll -248px -93px #FAFAFA;
				border: medium none;
				height: 25px;
				display:block;
				text-indent: -1000px;
				width: 40px !important;
				float:right;
			}

		}

		#search_books{
			padding: 0px 30px;
			text-align: center;
			max-width: 1050px;
			margin: 0px auto;

			.highlight { 
				background-color: yellow 
			}
		}

		#no_search_result{
			display: none;
			width: 93%;
			margin: 80px auto 0px;
			text-align: center;

			#no_search_result_caption{
				font-size: 16px;
				margin: 20px 0px;
			}
			form{
				input{
					display: block;
					left: 50%;
					position: relative;
					margin-left: -107px;
				}
			}
		}
		
	}
}


.ui-tabs {
	position: relative;
	padding: .2em;
	zoom: 1;
	background: transparent;
	border: none;
}

.ui-tabs .ui-tabs-nav {
	margin: 0;
	padding: .2em .2em 0;
	background: transparent;
	border: none;
	border-bottom: 1px solid #AAA;
}

.ui-state-default a, .ui-corner-top a{
	color: #AAA !important;
}

.ui-tabs-selected a, .ui-state-active a{
	cursor: text;
	color: #CC4D5C !important;
}


#book_details_box{

	span.blue{
		color: #CC4D5C;
	}
	.book_heading{
		font-size: 22px;
		border-bottom: 1px solid #AAA;
		padding: 20px;

		small {
			font-size: 68%;
		}
	}

	.left{
		float: left;
		width: 35%;
		
		.book_image {
			float: left;
			width: 25%;
			margin: 20px;

			img{
				padding: 5px;
				border: 1px solid #AAA;
			}
		}

		.auther_edition {
			float: right;
			width: 62%;
			margin-top: 20px;

			.edition{
				margin-bottom: 15px;
			}
			.author{

			}
			.add_to_wishlist{
				margin-top: 10px;
				cursor: pointer;
				border-radius: 3px;
				width: 150px;
				height: 21px;
				font-size: 13px;
				color: #0F8159;
				padding: 6px 7px 3px;
				text-align: center;
			}
		}

		.socio_rent_rank{
			border-top: 1px solid #AAA;
			border-bottom: 1px solid #AAA;
			padding: 10px 0px;

			.socio_rent_rank_left {
				float: left;
				width: 50%;
				text-align: center;
			}
			.socio_rent_rank_right {
				float: right;
				text-align: center;
				width: 50%;
			}

		}

	}
	.right{
		float: right;
		width: 32%;

		.add_to_cart{
			border-radius: 3px;
			margin: 0px -4px;
			width: 150px;
			height: 21px;
			font-size: 13px;
			background: #F65757;
			padding: 6px 7px 3px;
			color: white;
			text-align: center;
			cursor: pointer;
		}

		.information_price{
			font-size: 20px;

			.information_left{
				margin-bottom: 8px;
			}
		}

		.information{
			margin-top: 20px;
			text-transform: uppercase;

			.information_left {
				float: left;
				width: 40%;
				margin-left: 14%;
				text-transform: capitalize;
			}

			.information_right {
				float: right;
				width: 40%;
				text-transform: capitalize;
			}
		}
	}

	.text{
		margin: 30px auto;
		width: 90%;

		.text_left{
			float: left;
			width: 15%;
		}
		.text_right {
			float: right;
			width: 85%;
		}
	}

	.reviews_box{
		.reviews_caption{
			background: #AAA;
			padding: 5px 20px;
			border-radius: 8px;

			.reviews_caption_left{
				float:left;
				width: 40%;
			}
			.reviews_caption_right{
				float: right;
				width: 40%;
				text-align: right;
				cursor: pointer;
			}
		}
		.reviews{
			text-align: center;
			margin-top: 20px;

			.reviews_form{
				text-align: center;
				margin-left: 15px;
				margin-top: 20px;
			
				.reviews_input{
					width: 750px;
				}
				.reviews_submit{

				}
			}
			.reviews_content{
				.review_single {
					text-align: left;
					width: 90%;
					margin: 15px auto;

					.review_single_right {
						float: right;
						width: 85%;
					}
						.review_single_left {
						float: left;
						width: 14%;
						color: #CC4D5C;
					}
				}
			}
		}

	}
}

#cart_box{
	height: 500;
	overflow: hidden;

	#cart_caption{
		background: #EEE;
		text-align: center;
		padding: 5px 0px;
		border-radius: 8px;
		margin-bottom: 10px;
	}

	#cart_options{
		margin: 20px auto 0px;
		width: 95%;

		#terms_and_conditions_box {
			float: left;

			label{
				display: inline;
				padding-left: 7px;
			}
		}

		#cart_options_right {
			float: right;
			width: 90px;
			background: #F65757;
			padding: 5px 15px;
			border-radius: 5px;
			text-align: center;
			cursor: pointer;
			color: white;
		}
	}

	#no_item_in_cart {
		text-align: center;
		border: 1px solid #DDD;
		padding: 20px 0px;
		width: 95%;
		margin: 20px auto;
		display: none;
	}

	#cart{
		height: 380px;
		overflow: auto;

		.cart_single{
			width: 90%;
			margin: 20px auto;
			border-bottom: 1px solid #EEE;
			padding: 0px 20px 20px 20px;

			.cart_image, .cart_name, .cart_isbn, .cart_price, .cart_delete{
				float:left;
				word-wrap: break-word;
			}
			.cart_image{
				width: 80px;

				img{
					padding: 5px;
					border: 1px solid #DDD;
				}
			}
			.cart_name{
				width: 165px;
				margin: 5px 0px 0px 30px;
				color: #CC4D5C;

				.cart_name_name{

				}
				.cart_name_author{
					font-size: 12px;
					color: #999;
				}
			}
			.cart_isbn {
				width: 160px;
				margin: 5px 0px 0px 20px;
			}
			.cart_price {
				width: 90px;
				margin: 5px 0px 0px 20px;
			}
			.cart_delete{
				background-image: url("/assets/remove.png");
				width: 20px;
				background-repeat: no-repeat;
				background-position: 0px 6px;
				height: 40px;
				cursor: pointer;
			}

		}
	}

	#cart_header{
		width: 90%;
		margin: 0px auto;
		border-bottom: 2px #EEE solid;
		padding-bottom: 10px;

		div{
			display: inline-block;
		}
		#cart_header_book {
			width: 290px;
		}
		#cart_header_isbn {
			width: 172px;
		}
		#cart_header_rental_amount, #cart_header_rental_deposit {
			width: 107px;
		}

	}

	#cart_deposit_total , #cart_refundable_amount, #cart_total, #shipping_charge{
		text-align: right;
		padding-right: 30px;
		color: #CC4D5C;
		float: right;

		span{
			width: 100px;
		}
	}

	#shipping_charge{
		margin-top: 10px;
	}

	#cart_rental_total{
		margin-top: 20px;
		text-align: right;
		padding-right: 30px;
		color: #CC4D5C;
		float: right;
		width: 40%;	
	}
}

#checkout_box{
	#checkout_caption{
		background: #EEE;
		text-align: center;
		padding: 5px 0px;
		border-radius: 8px;
		margin-bottom: 10px;
	}
	#checkout_cash{
		width: 95%;
		border-radius: 8px;
		border: 1px solid #DDD;
		margin: 20px auto;
		padding: 8px;
	}
	#checkout_cheque, #checkout_gharpay,#checkout_citruspay{
		width: 95%;
		border-radius: 8px;
		border: 1px solid #DDD;
		margin: 20px auto;
		padding: 8px;
	}

}

#order_box{
	#order_caption{
		background: #EEE;
		text-align: center;
		padding: 5px 0px;
		border-radius: 8px;
		margin-bottom: 10px;
	}
	#order_id{
		text-align: center;
		font-size: 22px;
		color: #CC4D5C;
		line-height: 34px;
	}
		.invoice_print{
		display: none;
	}
}

#compare_box{
	width: 600px;
	height: 130px;
	position: absolute;
	margin: auto;
	background: #EEE;
	left: 28%;
	top: 156px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	z-index: 10;
	text-align: center;
	border: 1px solid #CCC;
	border-top: none;
	display: none;

	.no_compare_book {
		text-align: center;
		margin: 40px;
	}

	#compare_options{

		#compare_close {
			float: right;
			width: 100px;
			background: #CC4D5C;
			padding: 5px;
			border-radius: 14px;
			cursor: pointer;
			margin: 0px 20px;
		}

		#compare_dialog_button{
			float: right;
			width: 100px;
			background: #CC4D5C;
			margin: 0px 15px 0px 0px;
			padding: 5px;
			border-radius: 14px;	
			cursor: pointer;
			display: none;
		}
	}

	.compare_single{
		display: inline-block;
		margin: 10px 10px 10px;
		text-align: left;
		padding: 10px;
		border: 1px solid #DDD;
		border-radius: 8px;
		cursor: pointer;
		height: 44px;

		img{
			width:30px;
			display: inline;
			float: left;
		}

		.name{
			float: right;
			margin: 5px;
			width: 80px;
			overflow: hidden;
		}

		.remove_from_compare {
			float: right;
			background: url("/assets/remove.png");
			background-repeat: no-repeat;
			margin-top: 5px;
			width: 20px;
			height: 20px;
		}
	}
}

#search_to_compare{
	float: left;
	width: 34%;

	#search_to_compare_caption{
		margin: 20px 0px 0px 39px;
		text-align: center;
		color: #AAA;
	}
	#compare_search_form {
		margin-bottom: 0px;

		#compare_search_input {
			width: 80%;
			margin: 20px 0px 0px 40px;
		}
	}
	#compare_search_result {
		width: 81%;
		margin-left: 40px;
		background: #EEE;
		padding: 5px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		display: none;

		.compare_search_single{
			cursor: pointer;
		}
		.compare_search_single:hover{
			background: #DDD;
		}
	}
	#compare_search_no_result {
		text-align: center;
		margin-top: 20px;
		font-style: italic;
		display: none;
	}
}

#compare_dialog{
	text-align: left;

	.no_compare_book {
		text-align: center;
		font-size: 22px;
		line-height: 30px;
		margin: 60px auto;
		color: #AAA;
	}

	.compare_dialog_single{
		width: 30%;
		float: left;
		margin: 15px 15px 0px;

		.name_remove{
			border-bottom: 1px solid #DDD;
			padding-bottom: 20px;
			max-height: 72px;

			.book_name{
				color: #CC4D5C;
				font-weight: 900;
				font-size: 18px;
				float: left;
				width: 90%;
				word-wrap: break-word;
			}
			.remove_from_compare{
				background: url("/assets/remove.png");
				background-repeat: no-repeat;
				background-position: 0px 0px;
				float: right;
				width: 10%;
				height: 20px;
			}
		}
		
		.book_image {
			float: left;
			width: 25%;
			margin: 20px;
			height:135px;

			img{
				padding: 5px;
				border: 1px solid #AAA;
			}
		}

		.auther_edition {
			float: right;
			width: 55%;
			margin-top: 20px;

			.edition{
				margin-bottom: 15px;
			}
			.author{

			}
			.add_to_cart{
				color: #CC4D5C;
				font-weight: 900;
				font-size: 18px;
				cursor: pointer;
			}
		}

		.socio_rent_rank{
			border-top: 1px solid #AAA;
			border-bottom: 1px solid #AAA;
			padding: 10px 0px;

			.socio_rent_rank_left {
				float: left;
				width: 50%;
				text-align: center;
			}
			.socio_rent_rank_right {
				float: right;
				text-align: center;
				width: 50%;
			}

		}

		.information{
			margin-top: 20px;
			text-transform: uppercase;

			.information_left {
				float: left;
				width: 40%;
				margin-left: 14%;
			}

			.information_right {
				float: right;
				width: 40%;
			}
		}
	}
}

span.blue{
	color: #CC4D5C;
}
.search_books_single{
	display: inline-block;
	margin: 20px;
	padding: 8px;
	width: 280px;
	cursor: pointer;
	background: white;
	border-radius: 5px;
	height: 160px;

	.book_left{
		display: block;
		float: left;
		width: 42%;
	}
	.book_right{
		float: right;
		width: 57%;
		text-align: left;
		height: 100%;
		position: relative;

		.name{
			font-size: 14px;
			font-weight: 600;
			color: #696969;
			margin: 4px 0px 3px 5px;
			max-height: 40px;
			overflow: hidden;
		}
		.author{
			font-size: 13px;
			font-weight: 600;
			color: #0F8159;
			margin: 4px 0px 3px 5px;
			height: 20px;
			overflow: hidden;

			span{
				font-size: 12px;
			}
		}
		.mrp, .rent_price{
			margin: 4px 0px 3px 5px;
			height: 20px;
			overflow: hidden;			
		}
		.add_to_cart{
			font-size: 13px;
			background: #F65757;
			display: inline-block;
			padding: 6px 7px 3px;
			border-radius: 3px;
			color: white;
			position: absolute;
			bottom: 0px;
			right: 0px;
		}

		.already_rented {
			font-size: 10px;
			line-height: 14px;
			font-weight: 400;
			margin-left: 7px;
		}

		.add_to_compare_box{
			.add_to_compare{
				float: left;
				margin-left: 5px
			}
			label{
				float: left;
				margin-left: 6px;
			}
		}
	}
}

#user_dialog{
	background: #EEE !important;

	.user {
		width: 100%;
		height: 100%;

		#user_dialog_left{
			float:left;
			width: 20%;
			padding-top:20px;

			.menu{
				margin: 10px 0px;
				padding: 10px 0px 10px 10px;
				border-bottom-left-radius: 5px;
				border-top-left-radius: 5px;
				cursor: pointer;
			}
			.active{
				background: white;
				color: #CC4D5C;
			}
		}
		#user_dialog_right{
			float:right;
			width:80%;
			min-height: 100%;
			background: white;
			border-radius: 5px;

			#profile{
				#profile_form{
					margin: 80px 0px 0px 170px;

					legend {
						width: 480px;
						text-align: center;
					}
					#profile_form_error{
						width: 490px;
						text-align: center;
					}
				}
			}

			#orders_box{
				display: none;

				#orders_caption {
					text-align: center;
					border-bottom: 1px solid #EEE;
					width: 90%;
					margin: 20px auto;
					padding-bottom: 20px;
				}

				#orders_amount {
					width: 90%;
					margin: 20px auto;
				}

				#orders{
					#no_orders{
						text-align: center;
					}

					.order_heading {
						width: 90%;
						margin: 20px auto;
						background: #EEE;
						padding: 5px;
						border-radius: 5px;

						.order_heading_left {
							float: left;
							width: 30%;
							margin-left: 20px;
						}
						.order_heading_right {
							float: right;
							width: 30%;
							text-align: right;
							margin-right: 20px;
						}
					}

					.deposit_total {
						color: #CC4D5C;
						margin-top: 10px;
						margin-right: 66px;
						float: right;
						width: 40%;
						text-align: right;
					}
					.rental_total{
						color: #CC4D5C;
						margin-left: 66px;
						margin-top: 10px;
						float: left;
						width: 40%;
					}
					.invoice_btn {
					color: #CC4D5C;
						margin-top: -16px;
						margin-right: 66px;
						float: right;
						width: 40%;
						text-align: right;
					}
					.total{
						color: #1DA850;
						margin-left: 66px;
						margin-top: 5px;

						i{
							font-size: 10px;
							color: #000;
						}
					}

					.order_book_single{
						width: 80%;
						margin: 5px auto;

						.order_book_left{
							float: left;
							width: 70%;
							text-transform: uppercase;

							span {
								color: #AAA;
								font-style: italic;
								font-size: 12px;
							}

						}
						.order_book_right{
							float: right;
							width:15%;
							text-align: right;
						}
						.order_book_shipping{
							float: right;
							width: 13%;
							color: #0F8159;
							font-size: 11px;
							font-style: italic;
							margin-left: 4px;
						}
						.shipped{
							cursor: pointer;
						}
						.order_book_shipping_details{
							display: none;
							font-size: 12px;
							margin-left: 20px;
						}
					}
				}

			}

			#wishlist_box{
				display: none;

				#wishlist_caption {
					text-align: center;
					border-bottom: 1px solid #EEE;
					width: 90%;
					margin: 20px auto;
					padding-bottom: 20px;
				}

				#wishlist{
					#no_wishlist{
						text-align: center;
					}

					.wishlist_single {
						width: 80%;
						margin: 20px auto;
						border-bottom: 1px solid #EEE;
						padding-bottom: 10px;

						.wishlist_left {
							float: left;
							width: 20%;

							img {
								border: 1px solid #EEE;
								padding: 5px;
							}
						}

						.wishlist_right {
							float: right;
							width: 80%;
												
							.wishlist_name {
								color: #CC4D5C;
								text-transform: uppercase;
								margin-top: 5px;
							}
							.add_to_cart{
								cursor: pointer;
								border-radius: 3px;
								margin: 10px 0px;
								width: 150px;
								height: 21px;
								font-size: 13px;
								background: #F65757;
								padding: 6px 7px 3px;
								color: white;
								text-align: center;
							}
							.remove_from_wishlist {
								margin-top: 15px;
								font-style: italic;
								cursor: pointer;
								color: #AAA;
							}
						}

					}
				}

			}
			#shipping_box{
				display:none;

				#profile_shipping_form{
					margin: 80px 0px 0px 170px;

					legend{
						width: 480px;
						text-align: center;
					}
				}
			}
		}
	}
}

#ambassador{
	text-align: center;

	#ambassador_caption{

	}
	#ambassador_select_box{
		margin-top: 20px;
		
		#ambassador_select{

		}
	}
}

#intership_dialog{
	width: 600px;
	margin: 20px auto;

	h1{
		text-align: center;
		margin-bottom: 20px;
	}
}

.company{
	margin-bottom: 20px;

	.company_left{
		float: left;
		width: 30%;
		text-align: center;
	}
	.company_right{
		float: right;
		width: 68%;
	}
}
#shipping_details_box{
	display:none;
}

#load_more{
	margin-left: -100px;
	width: 200px;
	padding: 5px;
	margin-top: 20px;
	cursor: pointer;
	margin: 0px auto;
}

#go_top{
	position: fixed;
	bottom: 0px;
	right: 270px;
	width: 50px;
	height: 30px;
	padding-top: 35px;
	color: white;
	text-align: center;
	cursor: pointer;
	display: none;
	border: 1px solid white;
	border-bottom: none;
	background: url("/assets/up_arrow.png") no-repeat 13px 7px #444;
	z-index: 10000000;
}

#load_more {
	border-top: 1px solid #f65757;
	background: #F24141;
	background: -webkit-gradient(linear, left top, left bottom, from(#f65757), to(#F24141));
	background: -webkit-linear-gradient(top, #f65757, #F24141);
	background: -moz-linear-gradient(top, #f65757, #F24141);
	background: -ms-linear-gradient(top, #f65757, #F24141);
	background: -o-linear-gradient(top, #f65757, #F24141);
	padding: 8.5px 17px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: white;
	font-size: 14px;
	text-decoration: none;
	vertical-align: middle;
}
#load_more:hover {
	border-top-color: #F24141;
	background: #F24141;
	color: #FFF;
}
#load_more:active {
	border-top-color: #F24141;
	background: #F24141;
}

#notification {
	display: none;
	position: fixed;
	top: 8px;
	left: 47%;
	width: 65px;
	background: #F9EDBE;
	border: 1px solid #D6C06B;
	color: #222;
	padding: 2px 8px;
	z-index: 100000;
}

.terms_of_use{
	text-decoration: underline;
}

#profile_shipping_form_error{
	width: 490px;
	text-align: center;
	height: 30px;
}

.search_books_single img{
	height: 160px !important;
}

.reference_title {
					text-align: center;
					border-bottom: 1px solid #EEE;
					width: 90%;
					margin: 20px auto;
					padding-bottom: 20px;
				}
.referal_list {
	width: 750px;
	margin: 20px 30px 30px 55px;
}

#order_count {
	color: green;
}