#content{

	.left{
		float: left;
		width: 69%;
		margin-top: 20px;

		#intelligent_books_caption {
			font-size: 20px;
			color: #AAA;
			margin-left: 50px;
			font-style: italic;
		}
		#intelligent_books {
			margin: 20px 0px 20px 50px;
		
			.intelligent_books_single{
				display: inline-block;
				margin: 20px;
				border: 1px solid #CCC;
				padding: 8px;
			}
		}
	}

	.right{
		float: right;
		width: 30%;
		margin-top: 20px;
		border-left: 1px solid #AAA;
		min-height: 700px;

		#search_books_form{
			float: left;
			width: 90%;

			#search_books_input{
				width:88% !important;
				margin: 10px 0px 10px 20px;
			}
		}

		#close_search_books{
			float: right;
			width: 8%;
			display: none;
			cursor: pointer;
			margin-top: 10px;
		}

		#search_books{
			text-align: center;

			.highlight { 
				background-color: yellow 
			}

			.search_books_single{
				display: inline-block;
				margin: 20px;
				border: 1px solid #CCC;
				padding: 8px;
				width: 246px;
				cursor: pointer;

				.search_left{
					float: left;
					width: 50%;
				}
				.search_right{
					float: right;
					width: 50%;
					text-align: left;

					.name{
						font-size: 16px;
						font-weight: 900;
						color: #CC4C5D;
						margin: 4px 0px 10px 5px;
					}
					.author{
						font-size: 16px;
						font-weight: 900;
						color: #000;
						margin: 4px 0px 10px 5px;
					}
					.isbn{
						font-size: 12px;
						font-weight: 900;
						color: #000;
						margin: 4px 0px 10px 5px;
					}
					.add_to_cart{
						font-size: 16px;
						font-weight: 900;
						color: #CC4C5D;
						margin: 4px 0px 10px 5px;
					}
				}

			}
		}

		#no_search_result{
			display: none;
			width: 93%;
			margin: auto;

			form{
				input{
					display: block;
				}
			}
		}
	}

	#suggested_books_caption{
		background: #CC4D5C;
		width: 90%;
		margin: 20px auto;
		border-radius: 8px;
		text-align: center;
		color: white;
		padding: 5px;
		-moz-box-shadow: 0 0 5px #888;
		-webkit-box-shadow: 0 0 5px#888;
		box-shadow: 0 0 5px #888;

		a{
			color: #FFF;
			text-decoration: none;
		}
	}

	#suggested_books{
		height: 220px;
		border: 1px solid #CCC;
		width: 90%;
		margin: 20px auto;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		border-top: none;
		overflow-y: hidden;
		overflow-x: auto; 
		text-align: center;

		.suggested_books_single{
			display: inline-block;
			margin: 20px;
			border: 1px solid #CCC;
			padding: 8px;
			float: left;
		}
	}
}
	
.ui-dialog .ui-dialog-content{
	background: #FFF !important;
}

.ui-dialog .ui-dialog-titlebar {
	display: none;
}

.ui-tabs {
	position: relative;
	padding: .2em;
	zoom: 1;
	background: transparent;
	border: none;
}

.ui-tabs .ui-tabs-nav {
	margin: 0;
	padding: .2em .2em 0;
	background: transparent;
	border: none;
	border-bottom: 1px solid #AAA;
}

.ui-state-default a, .ui-corner-top a{
	color: #AAA !important;
}

.ui-tabs-selected a, .ui-state-active a{
	cursor: text;
	color: #CC4C5D !important;
}