#content{

	.left{
		float: left;
		width: 65%;
		margin-top: 20px;

		#intelligent_books_caption {
			font-size: 20px;
			color: #AAA;
			margin-left: 50px;
			font-style: italic;
		}
		#intelligent_books {
			margin: 20px 0px 20px 50px;
		
			.intelligent_books_single{
				display: inline-block;
				margin: 20px;
				border: 1px solid #CCC;
				padding: 8px;
			}
		}
	}

	.right{
		float: right;
		width: 34%;
		margin-top: 20px;
		border-left: 1px solid #AAA;
		min-height: 700px;

		#search_books_input{
			width: 82% !important;
			margin: 10px 0px 10px 20px;
		}

		#search_books{
			text-align: center;

			.search_books_single{
				display: inline-block;
				margin: 20px;
				border: 1px solid #CCC;
				padding: 8px;
				width: 246px;
				cursor: pointer;

				.search_left{
					float: left;
					width: 50%;
				}
				.search_right{
					float: right;
					width: 50%;
					text-align: left;

					.name{
						font-size: 16px;
						font-weight: 900;
						color: #CC4C5D;
						margin: 4px 0px 10px 5px;
					}
					.price{
						font-size: 16px;
						font-weight: 900;
						color: #000;
						margin: 4px 0px 10px 5px;
					}
					.add_to_cart{
						font-size: 16px;
						font-weight: 900;
						color: #CC4C5D;
						margin: 4px 0px 10px 5px;
					}
				}

			}
		}
	}

	#suggested_books_caption{
		background: #CC4D5C;
		width: 90%;
		margin: 20px auto;
		border-radius: 8px;
		text-align: center;
		color: white;
		padding: 5px;
		-moz-box-shadow: 0 0 5px #888;
		-webkit-box-shadow: 0 0 5px#888;
		box-shadow: 0 0 5px #888;

		a{
			color: #FFF;
			text-decoration: none;
		}
	}

	#suggested_books{
		height: 220px;
		border: 1px solid #CCC;
		width: 90%;
		margin: 20px auto;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		border-top: none;
		overflow-y: hidden;
		overflow-x: auto; 
		text-align: center;

		.suggested_books_single{
			display: inline-block;
			margin: 20px;
			border: 1px solid #CCC;
			padding: 8px;
			float: left;
		}
	}
}
	
.ui-dialog .ui-dialog-content{
	background: #FFF !important;
}

.ui-dialog .ui-dialog-titlebar {
	display: none;
}