#content{
	width: 600px;
	margin: 20px auto;

	h1{
		text-align: center;
		margin-bottom: 20px;
	}
}

.company{
	margin-bottom: 20px;

	.company_left{
		float: left;
		width: 30%;
		text-align: center;
	}
	.company_right{
		float: right;
		width: 68%;
	}
}