<% content_for :pagetitle  do %>
    Categories  -Admin
<%end %>



<div class="row" id="body_content" >

     <div class="span3">

      <ul class="nav nav-list">

        <%= render "/street/users/dashboard_menu.html.erb" %>
        <%#= render "/p2p/index/scat_menu" %>

      </ul>
    </div>


	<div class="span9">



	<h3>Editing p2p_city</h3>

	<%= render 'form' %>

	<%= link_to 'Back', street_cities_path %>

	</div>
</div>