<%= stylesheet_link_tag "footer" %>

<!-- <div class="footer">
	<div class="wrapper">
		<div class="pull-right links">
			<div class="grid_1">
				<ul class="pull-left">
					<li><a href="/terms_of_use" class="static_page_dialog_open">Terms of Use</a></li>
					<li><a href="/privacy_policy" class="static_page_dialog_open">Privacy Policy</a></li>
					<li><a href="/contactus" class="static_page_dialog_open">Contact Us</a></li>
				</ul>
				<ul class="pull-left">
					<li><a href="/aboutus" class="static_page_dialog_open">About Us</a></li>
					<li><a href="/pricing" class="static_page_dialog_open">FAQ</a></li>
					<li><a href="/college_ambassadors" class="static_page_dialog_open">College ambassadors</a></li>
				</ul>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="foot_box pull-left">
			<ul>
				<li><a class="fb" href="http://www.facebook.com/sociorent" target="_blank"></a></li>
				<li><a class="twit" href="http://www.twitter.com/sociorent" target="_blank"></a></li>
				<li><a class="blog" href="http://sociorent.com/blog" target="_blank"></a></li>
			</ul>
		</div>
		<div class="cB"></div>
		<div class="clearfix"></div>
	</div>
</div>
 -->

 <div class="footer_cpy">
	<div class="wrapper">
		<span>&copy; Sociorent. All rights reserved.</span>
	</div>
</div>

<div id="book_details" class="font-dialog"></div>
