<style>

#slider-code { height: 1%; overflow:hidden; position: relative; padding: 0 0 10px;   }
#slider-code .viewport { float: left; width: 90%; height: 125px; overflow: hidden; position: relative; }
#slider-code .buttons { background:url("/assets/tinycarsoul.png") no-repeat scroll 0 0 transparent; display: block; margin: 30px 10px 0 0; background-position: 0 -38px; text-indent: -999em; float: left; width: 39px; height: 37px; overflow: hidden; position: relative; }
#slider-code .next { background-position: 0 0; margin: 30px 0 0 10px; }
#slider-code .disable { visibility: hidden; }
#slider-code .overview { list-style: none; position: absolute; width: 240px; left: 0 ;top: 0; }
#slider-code .overview li{ float: left; margin: 0 20px 0 0; padding: 1px; height: 121px; border: 1px solid #dcdcdc; width: 236px;}


</style>

		<div class="wrapper" id="wearewith_holder">
			<h1>We are with</h1>
        <div id="slider-code">
            <a class="buttons prev" href="#">left</a>
            <div class="viewport">
                <ul class="overview">
                    <li>						<img src="/assets/col1.jpg"/> </li>
                    <li>						<img src="/assets/col2.jpg"/> </li>
                    <li>						<img src="/assets/col1.jpg"/> </li>
                    <li>						<img src="/assets/col2.jpg"/> </li>
                    <li>						<img src="/assets/col1.jpg"/> </li>
                    <li>						<img src="/assets/col2.jpg"/> </li>
                    <li>						<img src="/assets/col1.jpg"/> </li>
                    <li>						<img src="/assets/col2.jpg"/> </li>
                    <li>						<img src="/assets/col1.jpg"/> </li>
                    <li>						<img src="/assets/col2.jpg"/> </li>

                </ul>
            </div>
            <a class="buttons next" href="#">right</a>
        </div>
		</div>
