<!DOCTYPE html>
<html>
<head>
  <title>P2P</title>
<meta name="Description" content="Sociorent.com - A new companion for Engineering Students. Rent books at flat 25% of the MRP. Free door delivery. Rental Period of 6 months."/>
<meta name="Keywords" content="Rent books Online, Rent engineering books, book rental online, engineering books, engineering colleges india, rent books india, easy book rentals, cool book rentals/">

  <%= csrf_meta_tags %>
  
</head>
<body>

  <%= render "layouts/p2p/header" %>

</body>
</html>